[2017-04-08 16:04] digitalcraftsman opened #1 ".Now will be deprecated with Hugo v0.20"
`.Now` will be deprecated replaced with the `now` template function in Hugo v0.20 which eventually will be released on Monday. It's likely that the deprecation will cause builds to fail.

[2017-04-19 14:22] RaymondSeyf opened #2 "How to enable Projects section in Hugo Introduction theme?"
Thanks for sharing this beautiful minimal hugo theme with the community.
I have a question about showing my projects inside my homepage.
I know that I should config showProjects variable in config.toml but how I should customize and show content for Homepage Projects section?
I need to show more than 3 projects in my homepage, And I need description below the photo's of projects.

Thank you for yo

[2017-04-20 07:16] vickylaixy commented on #2
In the spirit of minimalism, it's not possible to show more projects or add more text to the projects section at the moment. :) Maybe in a future version if there's enough interest.

At the moment, set "showProjects" in your config file to "true" and fill out the params as in "/exampleSite/config.toml"

Nice website btw!

[2017-04-20 07:17] #2 closed

[2017-04-21 05:33] vickylaixy commented on #1
Updated. Thank you!

[2017-04-21 05:33] #1 closed

[2017-05-09 04:24] g3cko opened #5 "Image previews from blog post"
Hello,

I came across your theme and am taking a quick pass through it - how hard would it be to have each post define a 'preview' image to show in the "latest blog" post section?  I am really new to hugo so I have nothing to base this on, but it didn't sound like this should be too hard... but I did fail in actually doing this myself hah.

I know I would need to modify the blogsection.html but I

[2017-05-12 00:45] vickylaiio commented on #5
In short: if you know your way around Hugo it's not too tough. You'll need a line in your post's front matter for the image URL, and a line in the page HTML that references it using something like `{{ .Site.BaseURL }}{{ .Params.thumbnail }}`.

https://gohugo.io/content/archetypes/#step-1-creating-an-archetype
https://gohugo.io/content/front-matter/#optional-variables

I can implement this in Intro

[2017-05-12 00:45] #5 closed

[2017-05-13 18:17] g3cko commented on #5
Ahh!  It looks like I wasn't understanding how to reference any variables I add to the front matter, they are added to Params.  I have it working now, thanks !

My blog posts are mostly image based so I wanted to try to get a preview image for each post, as I don't usually write much - but we'll see if I end up liking how it works out  :)

[2017-05-13 23:12] vickylaiio commented on #5
Drop me a link once you've got it running, I'd love to see it! :)

[2017-05-23 03:01] vickylaiio opened #7 "Fade effect sometimes doesn't work."
In a couple situations the request for '/css/_fades.css' may return 404 error. If you're experiencing this please let me know so I can take a look.

One solution is to bake the _fades.css into the main css files, especially now that the fade effect can be turned on and off via the config file.

[2017-05-25 12:07] vickylaiio commented on #7
Fixed, see [CHANGELOG](https://github.com/vickylaiio/hugo-theme-introduction/blob/master/CHANGELOG.md).

[2017-05-25 12:07] #7 closed

[2017-06-01 03:46] fool opened #9 "about.md shows up as a blog post when following intro instructions"
Walking through your startup instructions (thank you for providing them!) a friend and I both come across the same issue:

`hugo new contact.md` does the right thing in the footer - the  contact info is shown:

![image](https://cloud.githubusercontent.com/assets/229024/26663781/ec61fd8e-4641-11e7-8af9-4bad8f22f553.png)

However, it also creates something that looks like a blog post on the front pa

[2017-06-01 04:42] vickylaiio commented on #9
Thank you for the excellent issue description :)

Latest Post section was calling all pages except just blog section pages. Fixed now, please `git pull origin master` in your local repo.

[2017-06-01 04:42] #9 closed

[2017-08-31 07:44] Tdnshah opened #12 "Partial header now function is not defined error"
I am trying to use this theme and getting 3 error as below:-
1. ERROR: 2017/08/31 13:13:27 template.go:350: template: theme/partials/header.html:52: function "now" not defined
2. ERROR: 2017/08/31 13:13:27 template.go:119: html/template: "theme/partials/header.html" is an incomplete template in theme/partials/header.html
3. ERROR: 2017/08/31 13:13:27 template.go:119: html/template: "theme/partials

[2017-08-31 10:00] Tdnshah commented on #12
This issue was because of my older hugo version... When i updated my hugo to the latest version 0.26 linux it worked form me very well.

[2017-08-31 10:00] #12 closed

[2017-09-01 00:47] hivickylai commented on #12
Glad you got it sorted, thanks for commenting back on the issue!

[2017-11-13 17:59] Heirak commented on #2
I would love to see this functionality added as well :) Email sent expressing interest

[2017-12-02 05:04] pmviva opened #14 "Multilingual site support"
Hi Vicky, i really like your theme, nice work! I was wondering if you were planning on adding support for multilingual sites.

As far as I can see, hugo supports translation of strings so it should be easy enough to move all untranslated text in templates to a data file, make sure the templates are using relLangURL, absLangURL and displaying some sort of link to translated content (posts, etc).

I

[2017-12-03 23:59] pmviva opened #15 "Wrong latest post in blog section"
I found an issue in the blog section regarding latest post. Apparently it shows the first post written as the latest post.

I guess the problem is in layouts/blog/list.html layout:

{{ range first 1 (where .Data.Pages.ByPublishDate .Reverse "Section" "blog") }}

should be instead of

{{ range first 1 (where .Data.Pages.ByPublishDate "Section" "blog") }}

![screenshot_2017-12-03_20-54-17](https://u

[2017-12-05 04:03] hivickylai commented on #15
There seems to be a change between Hugo versions 0.25 and 0.31. I was not able to reproduce this issue in Hugo v0.25 (the latest post shown was correct). I *was* able to reproduce it in v0.31 (the latest post was the oldest post).

Since I've updated the theme to support v0.30 as the minimum Hugo version, I'll implement this change.

[2017-12-05 04:04] #15 closed

[2017-12-05 04:40] pmviva commented on #14
I've been thinking about the best solution to support multilingual sites. I've noticed that the theme assumes the about page has title "About" and the contact page has tittle "Contact".

For example:
[code]
Would not work  for multilingual sites. For instance in English I would have a page with title "Contact", in Spanish the same page would have title "Contacto".

I was thinking about two possibl

[2017-12-29 00:29] Lytigas opened #19 "Image styling is off when using dark theme"
When using the dark theme, there is a white (#fff) background surrounding images.
![screenshot_2017-12-28_16-23-33](https://user-images.githubusercontent.com/20375641/34426464-a5c1ba86-ebeb-11e7-9f2b-080494f60d1e.png)

The relevant css is:
`dark-style.css`
[code]
If someone could tell me how to PR the css, I'd be glad to handle it. It's also worth noting there are many instances of `background-col

[2017-12-29 21:53] xnaas commented on #19
I realize this is the incorrect place for this, but did you have to make any other changes to the CSS to get this theme to work at all? On hugo v0.31.1, building the site with light or dark theme simply results in no CSS:

![image](https://user-images.githubusercontent.com/8271327/34448117-48b1e01c-ecb0-11e7-8dce-1e59d5b3fa47.png)

Did you un-minify the CSS? Are you using another version of hugo?

[2017-12-29 22:30] Lytigas commented on #19
@xnaas I just followed the quick-start guide in the README.

[2017-12-29 22:31] xnaas commented on #19
Well fuck me, I have no idea what the Hell is wrong then. :(

Can you verify your Hugo version, if you don't mind?

[2017-12-30 03:20] hivickylai commented on #19
@Lytigas Thanks! I have a sass file for the CSS, I can handle that real quick.

@xnaas If you would open a new Issue and detail the steps you went through for installing the theme, I can see about troubleshooting for you. I can't currently replicate your issue.

[2017-12-30 03:44] xnaas opened #21 "Theme CSS appears non-functional"
So, per brief discussion in #19, CSS refuses to load for whatever reason and i'm posting here for troubleshooting per request.

I'll post the entire process from start to finish and see if we can't figure out what on Earth is happening.

Step 1: Verify Hugo version.
[code]
Step 2: Create new site.
[code]
Step 3: `cd` and `git` theme.
[code]
Step 4: Copy **example** `config.toml` from `exampleSite`

[2017-12-30 03:45] xnaas commented on #21
I'm going to attempt a few changes to the config and see if anything breaks...in the meantime, I will close the ticket, but still created it for documentation's sake.

[2017-12-30 03:45] #21 closed

[2017-12-30 03:52] xnaas commented on #21
...and of course I can't get it to break now no matter what I do! 🤷‍♂️

When in doubt, burn it all down and start from scratch. Sorry about this, @hivickylai! 😅

[2017-12-30 17:05] hivickylai commented on #21
Lol. Glad it's working for you @xnaas!

Drop me a link to your site when it's up! :)

[2017-12-30 17:17] hivickylai commented on #19
CSS fix in

[2017-12-30 17:17] #19 closed

[2017-12-30 17:22] hivickylai commented on #14
The language data file is an interesting concept. My main concern would be to reduce any excessive customization that would need to be done. If the user requires a different language, they can set it, and otherwise the default settings allow English language use without additional barriers or confusion.

It could also work as a params variable from the config file, if the only words that need tran

[2017-12-31 18:52] pmviva commented on #14
The language data files only hold translation of strings (Menu Links, 404 page message, headers, footer, copyright, post information like read time, etc) and the theme should provide default ones for the languages that wish to support out of the box. So for instance if the theme provides English and Spanish out of the box, the users shouldn't do any extra configuration on the site or the theme bes

[2018-01-07 23:55] nancym opened #22 "exampleSite builds in Hugo v.0.31 but not in v.0.32.2"
I tried your lovely theme today with Hugo 0.32.2 and the exampleSite builds with some warnings but nothing is displayed when I look at it at localhost:1313. I found this thread on discourse.gohugo.io, which might be related to what's going on:

[V.0.32.2 fails to generate content where v.0.31.1 works ](https://discourse.gohugo.io/t/v-0-32-2-fails-to-generate-content-where-v-0-31-1-works/9849/13)

[2018-01-09 14:15] penance316 commented on #22
I am getting the same issue here with version
Hugo Static Site Generator v0.32.3 darwin/amd64 BuildDate: 2018-01-09T13:41:16Z

[2018-01-09 15:07] hivickylai commented on #22
Thank you @nancym for the heads-up!

Is it only the exampleSite that does not build? If you create content that aligns with the new _index structure, is Introduction building with it?

Just sizing up the issue - I appreciate the info!

[2018-01-11 18:47] nancym commented on #22
I've only tried your *introduction* theme with its exampleSite and, unfortunately, it's not working with today's release of Hugo v0.32.4. I have not yet figured out bundles so I don't know what to do to get your theme to work 😞. I've been reading [discourse.gohugo.io](https://discourse.gohugo.io/) and other people are having issues too.

Thanks,
𝓷𝓪𝓷𝓬𝔂𝓶 <- made with https://vickylai.io/uni-pretty/

[2018-01-20 23:13] quendera commented on #22
I can confirm it does not build exampleSite or content created.

[2018-01-26 06:08] mrshannon commented on #22
This issue still persists when using v0.34 and v0.35dev of Hugo.

[2018-01-26 19:29] #22 closed

[2018-01-26 19:31] hivickylai commented on #22
Bug was caused by an issue in config.toml where `params.theme` meant to set the css style was interfering with `theme` where Hugo looks for the default theme name.

Updated the example config file and site code to use `themestyle` for choosing the light or dark theme.

[2018-01-26 19:40] hivickylai opened #23 "Change parameter names to camelCase"
In the exampleSite `config.toml` and throughout the theme, change the parameter names (under `[params]`) to camelCase.

[2018-01-26 20:29] danieldiaz14 commented on #23
Dibs! I'll do this today.

[2018-01-26 21:14] danieldiaz14 commented on #23
Hey Vicky,

Just to make sure I made the changes correctly! Only the parameters names in the config.toml file? I didn't see any other files with parameter names.

Thank you,

Daniel
![parameters](https://user-images.githubusercontent.com/25696374/35461025-e2205bac-029a-11e8-99e2-42b2dc3b7ab3.JPG)

[2018-01-26 21:20] hivickylai commented on #23
@danieldiaz14 Yup! The `config.toml` is where they're all defined. The parameter names are used throughout the theme templates, where they'll also need to be changed so they still work.

For example see `layouts/blog/list.html` line 7, where `bloghead` is used.

[2018-01-27 01:11] danieldiaz14 commented on #23
Pull Request sent!

[2018-01-27 19:04] abhinavgarg2129 opened #25 "Error: While parsing config: (4, 10): unescaped control character U+000A"
this error comes up when i change the theme to introduction in config file.

[2018-01-27 19:10] abhinavgarg2129 commented on #25
found the solution, just change all the TAB characters to spaces,
may use this link http://tabstospaces.com/

[2018-01-27 19:10] #25 closed

[2018-01-28 14:59] hivickylai commented on #25
I'm not able to reproduce your error. If you copied the config.toml from exampleSite, there are no tab characters that I can see.

[2018-01-28 14:59] hivickylai commented on #23
Completed in #24

[2018-01-28 14:59] #23 closed

[2018-01-28 19:53] darkk opened #27 "navbar in introHeight=fullheight is half-visible"
Navbar in `fullheight` is half-visible without scrolling because of `padding-top: 48px` applied to `div#top` because of `class="section"`. I'm not sure what's _the right way_ to fix it in terms of layout, I've just applied ugly hack locally and I don't submit it as a PR :-)

[2018-01-31 17:36] lupa18 opened #28 "modify css"
Hello ! could you suggest some friendly way to modify the css in documentation?

I'm not css expert and I try to do it but it's very difficult because it not has a "friendly" format.

Thanks in advance !

[2018-02-03 14:59] hivickylai commented on #27
Good catch. Actually the hero should not be placed inside a class of "section" if I'm using bulma correctly. Fixed now.

It's been in my mind to rewrite the theme files (I've learned lots since coding this theme and now they look a little messy to me ^^;).

[2018-02-03 14:59] #27 closed

[2018-02-03 18:06] vickylai opened #29 "Rework theme css to be more organized/not include Bulma"
I'll admit that since creating this theme, I've learned more about how to better organize CSS (Sass files specifically) and also learned a few lessons about dependencies.

I'd like to rewrite the theme's CSS (classes in the HTML files, and the Sass/CSS files themselves) to be more DRY, and independent of another framework (no Bulma). My preference would be to use Flexbox.

I don't currently have t

[2018-02-03 18:11] hivickylai commented on #28
Hi @lupa18! In its current state, the theme's CSS is not easily modified. It's built using Sass and Bulma, and minified. I'd like to simplify this in the future so that it can be easily modified. You can read Issue #29 for more on that.

I will say that if you run the minified CSS through a beautify processor, it will space everything out so that it's easier to read. I use Visual Studio Code, whic

[2018-02-03 18:11] #28 closed

[2018-02-13 08:15] Phoenix-Ann opened #30 "Project title with other languages does not work"
Hi Vicky，I really like the theme you made. I really want to use this theme for a long time, but I do not have a foundation for front-end development
There is a problems that bothers me,it is about the support of the language.
When I create a new project title in my own language(Traditional Chinese or Simplified Chinese), the project fails to go to the details page.
Can you fix this？

[2018-03-07 17:39] Athanasiamo opened #31 "about section text renders outside the browser"
I love this theme, but am having an issue with the text from my about.md not wrapping properly when the browser size is above a certain size (about tablet size is when it starts behaving strangely).

![image](https://user-images.githubusercontent.com/14014329/37108038-3df36dc4-2236-11e8-93da-6e63410739bb.png)

wraps just fine when smaller
![image](https://user-images.githubusercontent.com/14014329

[2018-03-08 06:44] Athanasiamo commented on #31
I made some changes via the sass, but none that should (technically) make any difference, but I'm sure you're right. The sample text in the md wasn't long enough to pose a problem, so I added another sentence, and it wraps perfectly fine with the original theme. So there must be something I changed (ugh).

Sorry about that, I should have increased the original text before I made a ticket.

Let's s

[2018-03-13 23:21] hivickylai commented on #31
I believe in you! :grin: Feel free to drop me a note if you get especially stuck. I'm going to close this issue for now.

[2018-03-13 23:21] #31 closed

[2018-03-13 23:24] hivickylai commented on #30
Hi Phoenix-Ann, can you post the front matter for your project markdown file? It's the part that looks like this:

[code]

[2018-03-14 06:19] Phoenix-Ann commented on #30
Hi Vicky，Thank you for your reply.The front matter for my project markdown file as follows

[code]

[2018-03-14 09:55] Phoenix-Ann opened #32 "Toc anchor link cannot be linked to the current page"
Hi Vicky，I wanna the theme support toc，so I add Table of Contents by myself.Toc can display normally,but
toc anchor link cannot be linked to the current page.

### **Step：**
1.Open an article on my blog,ie [https://anna3.pub/blog/python3-with_python2/](https://anna3.pub/blog/python3-with_python2/)
2.Click on any section in toc,such as
![default](https://user-images.githubusercontent.com/17487620/3

[2018-03-20 18:10] paskal opened #33 "Set default for site parameters where parameter not specified in config"
Hello!

I've stumbled upon the very same issue as the https://github.com/dim0627/hugo_theme_beg/issues/19, only part of the image visible on the screenshot where whole should be:

![image](https://user-images.githubusercontent.com/712534/37674095-11eb30ac-2c83-11e8-822a-b3ca5e00338c.png)

[2018-03-20 18:21] hivickylai commented on #33
Hi @paskal. I'm unable to reproduce your issue. Images in markdown have max-width set (please inspect the image [here](https://vickylai.io/introduction/blog/coffee-ipsum/) for an example). Are you working with the latest version of the theme?

Can you please provide some more detail, or a link to your site where this is an issue?

[2018-03-20 18:27] paskal commented on #33
Thanks for rapid response! [Post example](https://github.com/paskal/terrty/blob/master/blog/content/2016-11-17-shinken-vs-sensu-vs-icinga2-vs-zabbix.markdown), problem code:

    ![Shinken simple distributed architecture](https://shinken.readthedocs.io/en/latest/_images/shinken-architecture.png)

I guess example you're shown have image defined some other way.

[2018-03-20 20:13] hivickylai commented on #33
I copied your blog post content and tested it in the theme. I still cannot replicate your issue.

Are you certain that you have the correct theme? Have you made any changes to the CSS?

![screenshot from 2018-03-20 16-11-20](https://user-images.githubusercontent.com/24644237/37680193-8a74335e-2c59-11e8-97b5-899a8793e87f.png)

[2018-03-20 20:16] paskal commented on #33
I guess css doesn't render for some reason. Here is how the main page looks like:
![image](https://user-images.githubusercontent.com/712534/37680310-8f035a9a-2c94-11e8-8a8b-e7b708d6e304.png)
I guess some `site.param` might be missing and instead of raising error this theme just silently brokes. Could you please run the theme against my blog as-is to see what I'm seeing?

[2018-03-20 20:26] hivickylai commented on #33
Please ensure you've followed the set-up instructions in the [README](https://github.com/hivickylai/hugo-theme-introduction/blob/master/README.md), particularly those for "Configure your site."

[2018-03-20 20:32] paskal commented on #33
To achieve that I need to put aside my configuration and rewrite it from scratch based on your configuration. Adding sanity checks for input and defaults in case something is not set require additional effort but will let people like me (who already have working site and looking for a new theme) to try it out without touching configuration. The issue I've linked last have interesting conversation

[2018-03-20 20:56] hivickylai commented on #33
Fair. You make a good point about setting defaults.

Perhaps something to note about Hugo themes in general is that their use of config is a strength. Certainly in this one, you're able to change a lot of the front end just by tweaking a few lines in config -
 everything from the CSS dark/light theme style, to whole sections of the page. When I'm trying new themes, I store my current config in a f

[2018-03-23 10:17] d6s5 commented on #14
Multilingual site support would be great. I like the theme very much but after some time I realized that I couldn't customize the menu and other language related things. So I couldn't use it for german as much as I like it.

[2018-03-25 15:08] #33 closed

[2018-03-25 16:31] hivickylai commented on #30
**Issue:** `%` character from `urlize` on Chinese characters made jQuery unhappy.

**Fix:** `replace` the `%` to empty string.

[2018-03-25 16:31] #30 closed

[2018-03-25 16:32] hivickylai commented on #33
Thanks very much @paskal !

[2018-03-29 02:12] pmviva opened #38 "Pages without section displays incorrect navigation link"
Hi, I found that when you are in a page that doesn't belong to any section (about page, 404 page for example) the navigation links are displayed incorrectly.

The template: nav-single.html has the following code:

[code]
When .Section is empty this generates the following link `<a href="/">Back to </a>`

The fix I think is obvious... If you don't have a section, then don't display a link since you

[2018-03-31 19:44] hivickylai commented on #38
Merged #39

[2018-03-31 19:44] #38 closed

[2018-04-08 07:05] pmviva commented on #14
@d6s5 I just made a pull request with multilingual support, lets hope @hivickylai reviews it and approves it.

In the meantime you can checkout my fork of the theme, download and play with it in order to find any bugs I missed

[2018-04-08 16:36] pmviva opened #41 "DRY up navigation"
Right now the code isnt very DRY.

You have nav-list.html and nav-single.html that only differs on a link back to section.

Also you have a hardcoded navigatoon in index.html that can be replaced with a nav partial you already have.
If you need different behavior in the navbar for the home page, you can use {{ .IsHome }} to chech whether you are in thehomepage.

[2018-04-15 10:03] pmviva commented on #41
I'll submit a pull request with the changes

[2018-04-19 05:13] karanrajpal14 opened #42 "Nav component deprecated"
The `nav` component has been deprecated and the latest versions of bulma have moved to `navbar`. As a result, `nav-center` doesn't work anymore.
Look [here][1] and [here][2]

[1]: https://github.com/jgthms/bulma/issues/894
[2]: https://bulma.io/documentation/components/nav/

[2018-04-19 20:49] Setherizor opened #43 "Emojis In the Titles and config file."
Hello! I am trying to use some emojis in the tagLine of this theme. Is there something I am missing? How would we go about using real emojis :smile: with this theme. Any help is much appreciated!

It would be amazing if this
[code]
Would render into something like this
## Computer Lover :computer: - Student :pencil2: - Friend :laughing:

[2018-04-22 01:25] pmviva commented on #43
I guess we need to call Hugo's emojify function in the templates when we print the tagline.

In file layouts/index.html you need to have:
[code]
Instead of:
[code]
You can submit a pull request with the change :smiley:

[2018-04-22 13:45] Setherizor commented on #43
Thank you! I'll submit the pull soon.

[2018-04-28 13:59] hivickylai commented on #43
Addressed in #44

[2018-04-28 13:59] #43 closed

[2018-05-03 14:42] hivickylai commented on #32
Hi @Phoenix-Ann. In your `config.toml` file, what do you have set for the `baseURL`?

[2018-05-03 14:46] hivickylai commented on #41
Duplicate of #29

[2018-05-03 14:46] #41 closed

[2018-05-03 14:47] hivickylai commented on #42
Duplicate of #29

Rewriting CSS without the use of Bulma is desired, see referenced issue.

[2018-05-03 14:47] #42 closed

[2018-05-31 20:53] stueja opened #46 "Background scrolling on mobile phone"
After opening a modal window e. g. after clicking on "Design", and scrolling the page up or down, the (nearly invisible) main page in the background is scrolling. After closing the modal by clicking the X in the upper right, the main page may be on a totally different position than before opening the modal.

[2018-06-09 22:58] Hanzei opened #49 "Add CI"
A travis CI script could be used to make sure no wrong template could be added.

@vickylai If you enable travis, I would create a PR for this.

[2018-06-09 23:27] Hanzei commented on #49
With Github Apps. If i am not mistaken, https://travis-ci.com/ is a Github App

[2018-06-09 23:47] vickylai commented on #49
Found it. Enabled! Thanks @Hanzei for helping me experiment... :)

[2018-06-10 10:21] Hanzei commented on #49
Travis is currently moving from travis-ci.org to travis-ci.com. (See https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com) I think you registered this rep on `.org`. Mind moving it over?

[2018-06-11 11:09] #49 closed

[2018-06-11 11:13] vickylai commented on #49
Moved to .com. Thanks @Hanzei!

[2018-06-11 14:01] Hanzei opened #54 "Remove enforce_ssl setting"
Enforcing ssl/tls is nothing what should be done via js. A webserver should take care of this, not hugo. I propose to remove this option.

@vickylai Thoughts?

[2018-06-11 15:38] vickylai commented on #54
Yes. Actually the thinking behind this is a little out of date. It was a hack I saw another theme use, long before I had tried Cloudflare then Let's Encrypt, and definitely before [GitHub Pages offered SSL](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/) earlier this year.

With all the (awesome) changes we've been making, I'd like to do a new release and also take a crack a

[2018-06-11 23:46] Hanzei opened #58 "Update theme.toml with new license"
Since https://github.com/vickylai/hugo-theme-introduction/commit/a1de3cf3aa5398f7f2cf71c64215bd825cccff7f change the license to AGPL, this should be changed in `theme.toml`.

[2018-06-12 12:29] #58 closed

[2018-06-12 18:14] vickylai commented on #46
Apparently adding "overflow: hidden" to the body should prevent the scrolling when modal is open, but this doesn't seem to work...

[2018-06-18 22:51] Setherizor opened #59 "Number of Projects showing variable?"
Is there a way to create a new variable for the projects display called "numberToShow" or something similar to control the **number of projects to show on the main page**?

It would be amazingly convenient if there was a way to **feature** a few projects then show the rest on the /projects page.

I personally would love to use this feature. :smile:

[2018-06-20 05:45] Hanzei commented on #59
This should be not to hard to implement. We would also need a "show all projects" botton, which links to `/projects`

[2018-06-21 09:39] Hanzei commented on #46
[code]
works fine. But we need to modify the css for this.

@vickylai Mind adding `package.json` and `gulpfile.js` to this repro, so I can compile the css myself?

[2018-06-21 09:42] Hanzei commented on #29
Why do you want to move away from bulma?

[2018-06-21 13:35] Hanzei opened #63 "Configure about and contacts text without creating a new page"
Currently to configure the about and contacts text, the user has to create a seperate page for both of them. But this also means that this pages are render with there own URL.

I propose to move `content/contact.md` text to a param and `content/about.md` to `content/index.md`. This would of course break backwards compatibility, but we could do this in a major release. I think, there will be no fea

[2018-06-22 03:48] Hanzei opened #64 "Cleanup config.toml"
I my opinion `exampleSite/config.toml`is quite overloaded. I propose to remove or relocate some params:

### Code
- `pygmentsStyle`: Is set to `monokai` by default. No need to specify this. See https://gohugo.io/getting-started/configuration/
- `pygmentsCodefences`: if a user really wants this, he/she can enable it my her/his self
- `cacheBuster`: I don`t see the need for this, but I might be wron

[2018-06-22 11:00] StevenPuttemans opened #65 "Adding a background image"
Hi there and thanks for the theme, really enjoyed it so far!

I have custimized it a bit for a conference page we are building (https://stevenputtemans.github.io/AMV2018/). So far so good, but now I would love to have the first block, where the text spawns in, to contain a 50% opague background image.

I tried adding `style="background-image: url(../img/background.jpg)` to the `<div class="hero-bo

[2018-06-22 13:20] vickylai commented on #65
Hey Steven!

Site looks great. I love what you've done with it!

I tried `style="background-image: url(fullpath.jpg);background-size:cover;"` in the same `<div class="hero-body">` and it worked for me. You might need to check your path. Let me know if you still have an issue.

The 50% opaque part is possible if you add a pseudo element with 50% opacity, but if you're not comfortable doing that on

[2018-06-22 13:23] StevenPuttemans commented on #65
Hi @vickylai , after breaking my head for hours it seems that I found the same solution as you suggested: https://stevenputtemans.github.io/AMV2018/ and it works flawlesly.

Will test with the opague now, but not sure if the site really needs it

[2018-06-22 13:28] vickylai commented on #65
I think it looks fantastic. Well done!

[2018-06-22 13:28] #65 closed

[2018-06-23 10:39] Hanzei commented on #63
A other possible solution is to us [headless bundles](https://gohugo.io/content-management/page-bundles/#headless-bundle)

[2018-06-24 23:04] vickylai commented on #63
This will be addressed in the next major release. I'm currently keen on the headless option in addition to rendering the index page sections from markdown pages.

[2018-06-25 00:31] #59 closed

[2018-06-28 22:18] Hanzei commented on #63
@vickylai If you are fine with the headless option I would go ahead and implement it.
I would add a headless section named `home/` and include `contact.md` and `footer.md`. The current `about.md` would go into `_index.md`.

[2018-06-28 22:19] Hanzei commented on #32
This should be fixed now

[2018-06-29 00:28] vickylai commented on #32
@Phoenix-Ann Can you try the latest theme and confirm?

[2018-07-02 07:45] Hanzei opened #67 "Update Bulma"
We currently use a quite old version of bulma (<0.4). This should be upgraded to make use of some HTML5 elements.

[2018-07-15 19:36] patarol opened #68 "Change Font Color"
Hi,

I'm creating a blog with your Hugo Theme and I love it.
I'm trying to change the icon colors in the `sass` file but setting the `$primary` color to a new one, but I can't do it.

I'm a `R/Python` programmer and I don't know how to program in `.css`.
How can I accomplish it?

Thank you.

[2018-07-15 22:13] vickylai commented on #68
Currently the sass file must first be compiled to css.

There's a new version of the theme in progress (#66) that will remove this requirement with the use of Hugo's new [Resource transformation functions](https://github.com/gohugoio/hugo/releases/tag/v0.43). Stay tuned! :)

[2018-07-15 22:13] #68 closed

[2018-07-18 15:47] mikedecr opened #69 "Images on single project pages"
Hi, love the theme so far.

In my first attempt to use this theme, images included in project pages (stored in the `static` directory) render on the main site page and on the `/projects` page, but not on the single pages for individual projects.

I noticed in layout partials for the main page and project page that these images are referenced using `relURL`, but in the `single.html` file the `relUR

[2018-07-18 15:51] Hanzei commented on #69
Thanks @mikedecr for your bug report.

Your right, this is a bug. I'm currently working on rewrite on the theme, which will this this.

[2018-07-22 05:59] Hanzei opened #71 "License problem"
The theme is currently licensed under AGPL-3. This license contains a copyleft clause. This means that everyone how modifies the code has to publish the new code under the same license. The problem when using this license for a hugo theme is that user can replace parts of a theme by overwritting them. But this forces every user who modified the theme to make the code of there website open source.

[2018-07-23 07:13] Phoenix-Ann commented on #30
Hi Vicky,this bug reappear in version  997c707.

[2018-07-23 09:50] Phoenix-Ann commented on #30
Hi VickyI find this bug appeared in 997c707  again.

[2018-08-09 04:33] ericksnetwork opened #72 "Webpage is cutting off horizontally when inline code is too long"
I'm having an error viewing my blog post on the Android Chrome Browser:
**If my syntax highlighting is too long then at a certain point the rest of the web page does not render. Please refer to below images.**

I've confirmed that it is definitely the syntax highlighting that is causing this with trial and error for every formatting that is present in the document. The only thing that triggers thi

[2018-08-09 15:45] ericksnetwork commented on #72
Version:
Hugo Static Site Generator v0.45.1 windows/amd64 BuildDate: 2018-07-25T08:56:57Z

Code:
https://github.com/ericksnetwork/ericksnetwork.github.io

Thanks for looking into this Hanzei.

[2018-08-09 21:32] Hanzei commented on #72
Sorry, I was a bit unclear. Could you share the source code of your website? I think the content of `content/blog/twitter---copy` and `content/blog/twitter` would be enough.

[2018-08-09 21:38] ericksnetwork commented on #72
1 - [Twitter Copy]("https://github.com/ericksnetwork/ericksnetwork.github.io/blob/master/blog/twitter%20-%20Copy_source")

2 - [Twitter]("https://github.com/ericksnetwork/ericksnetwork.github.io/blob/master/blog/twitter_source")

[2018-08-10 05:59] Hanzei commented on #72
Thanks for the code. Unfortunately I was not able to reproduce your issue neither with a local compiled version nor with your page under https://ericksnetwork.github.io/blog/twitter/.

Did you try to access you page with another browser? Can you reproduce your issue at a desktop computer, if you alter the screen size?

[2018-08-10 06:27] ericksnetwork commented on #72
I've tested this issue on 4 different peoples phones which were all Android. Unfortunately the page does not render properly.

I also just downloaded the Brave browser and Opera to test out this issue. The issue persists across these browsers. Here are some more screenshots.

![screenshot_20180810-022202](https://user-images.githubusercontent.com/8908857/43942049-81b4d65a-9c44-11e8-9d09-f62f425ec8

[2018-08-10 21:58] Hanzei commented on #72
I was able to reproduce your issue. It only occurs on a android smartphone with a chromium based browser, like google chrome or opera. It works fine with Firefox for me.

This is rather strange. I will look into this more in a week, because I'm on vacation next week. It will be hard to debug on a smartphone, but I will give it a try.

See https://developers.google.com/web/tools/chrome-devtools/dev

[2018-08-11 02:41] ericksnetwork commented on #72
Thanks Hanzei! I'll keep doing some research on my end to see what this may be.

Again - I'm no web dev so my JS is limited but I did run across a few stackoverflow threads that might be related?

1. https://stackoverflow.com/questions/51758881/webpage-is-cutting-off-horizontally-in-mobile-version/51764385#51764385
2. https://stackoverflow.com/questions/31208959/inline-block-ul-with-opacity-causes

[2018-08-13 16:40] r33int opened #73 "Rendering error"
Hello, I have tried running this theme on Hugo v0.46. However, I am facing this error when I try to run the hugo server:
[code]

Here is what hugo version returns:
``
Hugo Static Site Generator v0.46 linux/amd64 BuildDate: 2018-08-01T09:00:55Z
``

[2018-08-14 06:37] Hanzei commented on #73
Thanks for you report @r33int.

Do you want to show a projects section? If no, try setting `showProjects` in `config.toml` to `false. If yes, you need to create pages under `content/projects`.

[2018-08-14 11:40] r33int commented on #73
I added a page under projects and it worked! I didn't know it was necessarry to create a page to get it working. Thanks!

[2018-08-14 11:40] #73 closed

[2018-08-14 22:16] smehtaca opened #74 "Projects Partial causes site build to fail"
I'm unable to get hugo to build my site with the `hugo server -D` command as hugo has an error while attempting to call the partial located in partials/project.html. Here is the output from hugo:
[code]
The code for my site can be found in this github [repo](https://github.com/smehtaca/smehta.ca).
My hugo version is v0.46, the latest available from Homebrew.

Does anyone know if this is a problem

[2018-08-15 06:03] Hanzei commented on #74
Thanks for your report @smehtaca.

Please take a look at #73. It looks like you encountered the same problem.

[2018-08-21 15:30] ericksnetwork commented on #72
Hi guys - any update on this?

[2018-08-31 14:35] Hanzei opened #83 "Help maintaining this theme"
Hey @vickylai,

I would like to help you maintaining this theme. It looks like you don't have so much time at the moment and could have some assistance.

Let me know what you think.

[2018-09-16 02:13] #14 closed

[2018-09-16 02:13] #29 closed

[2018-09-16 02:13] #46 closed

[2018-09-16 02:13] #54 closed

[2018-09-16 02:13] #63 closed

[2018-09-16 02:13] #64 closed

[2018-09-16 02:13] #67 closed

[2018-09-16 02:13] #71 closed

[2018-09-16 02:42] vickylai commented on #83
Added as collaborator! Thank you!

[2018-09-16 02:42] #83 closed

[2018-09-16 02:45] Hanzei commented on #72
Would you try upgrading to the latest version of this theme? A lot changed with the latest update. It might fix your problem.

[2018-09-16 02:49] Hanzei opened #84 "Fix travis failure"
Somehow the nav links on multilingual sides are broken.

[2018-09-16 03:08] vickylai opened #85 "Assets not loading when root domain includes path?"
I've set up `docs/` as the demo site, generated from the `exampleSite/` folder with:

[code]

It seems that no assets load at https://vickylai.com/hugo-theme-introduction/ unless (as a bandaid solution) I also include:

[code]

In which case the css loads, but none of the fonts.

Is this related to `assets/sass/style.sass` font paths?

[2018-09-16 04:47] ericksnetwork commented on #72
Thanks for following up.

I downloaded the latest version of [https://github.com/gohugoio/hugo/releases/tag/v0.48](hugo_0.48_Windows-64bit.zip)

[2018-09-16 06:03] Hanzei commented on #72
Yes

[2018-09-16 14:28] Hanzei commented on #85
I will look into this.

[2018-09-18 06:36] #84 closed

[2018-09-18 12:58] Hanzei commented on #85
Running ` hugo --themesDir ../.. -d ../docs  -v  -b https://vickylai.com/hugo-theme-introduction/` works fine for me. Are you sure that you use the current `master`?

BTW: Why do you commited `docs/` to this repo? We kind of already have a example with `examplesite/`  and https://themes.gohugo.io/theme/hugo-theme-introduction/.

[2018-09-22 14:09] ericksnetwork commented on #72
I finally got around to implementing the new versions and am happy to say that the issue on chromium browsers seems to have been fixed.

Thanks for all your help!

[2018-09-22 14:15] #72 closed

[2018-09-22 16:39] Hanzei commented on #85
Seams like https://themes.gohugo.io/theme/hugo-theme-introduction/ has the same problem. But i still cant reproduce it locally.

[2018-09-22 16:41] Hanzei commented on #72
The is no option to set the nav bar centred. But you can use https://github.com/vickylai/hugo-theme-introduction#custom-css to do this.

[2018-09-22 20:17] joewaj commented on #72
At the moment I am also trying to center the nav bar and I am not a CSS guru (more familiar with C/C++). Some attempts with custom-css doesn't work (although I already managed to add some other modifications to the theme successfully). Maybe you can give some hints which elements and properties should be modified.
Anyway, thank you for your very nice work on introduction!!

[2018-09-22 21:08] joewaj opened #88 "Nav bar is not centered"
The navigation bar seems to be left aligned.  It would be nice to have it centerd or to have a switch to do this in config.toml (especially when you have few nav bar entries). I already tried to fix this with custom.css but without success.
A hint which elements and properties are needed here in custom.css would be also helpful for me.
Thanks!

[2018-09-23 06:08] Hanzei commented on #88
Adding
[code]
Should help

[2018-09-23 07:56] vickylai commented on #85
@Hanzei `docs/` replaces an example site previously stored in another repository, and serves the GitHub Pages site for this repo.

https://themes.gohugo.io/theme/hugo-theme-introduction/ doesn't load any assets at all. The CSS url is `https://themes.gohugo.io/css/main.min.34f8ba287806e0ec83cbeb4f926ddfed78f3ab2453f7463ead739774a418747f.css` and is 404.

Does this issue have to do with SRI? (Is SRI

[2018-09-23 08:02] Hanzei commented on #85
ok, I see.

I'm pretty doesn't have to do with SRI. The problem is that the files don't get found, not that they are rejected.

What confuses me is that we don't construct the URL by our self. See https://github.com/vickylai/hugo-theme-introduction/blob/master/layouts/partials/head/css.html#L11
This might be a hugo problem. I will look into it.

Did this fix your problem?

[2018-09-24 05:32] vickylai commented on #85
Same result as I first mentioned, where the CSS and other assets load, but not FontAwesome.

[2018-09-24 06:51] joewaj commented on #88
Thanx. Works fine for me

[2018-09-24 06:51] #88 closed

[2018-09-24 09:35] Hanzei commented on #72
See #88

[2018-09-24 09:36] Hanzei commented on #85
@vickylai What hugo version are you using?

[2018-09-29 13:29] ericksnetwork commented on #88
joewaj - can i ask what exactly you did to get the nav bar center aligned? I'm not exactly sure how and where to place the snippet provided by hanzei.

[2018-09-29 22:41] joewaj commented on #88
1. I created an extra file "custom.css" at the "assets" folder of the theme and copy/pasted the 3 lines into that file
2. You have to add this file name at config.toml (Entry: customCSS= ["custom.css"])

The entries from custom.css  will overwrite the the original css properties of the theme.
For fine tuning the theme I use the firefox built-in inspector to find out which items and properties to m

[2018-10-02 05:51] vickylai commented on #85
`Hugo Static Site Generator v0.48/extended linux/amd64 BuildDate: 2018-08-29T06:57:35Z`

[2018-10-02 12:16] celsomiranda opened #91 "Can't render the site with latest Hugo for Windows"
This is what the console gives me if I try to serve the example files.

Something to do with minification I guess.

Also, the theme Demo doesn't load a bunch of resources including the css files.

[code]

[2018-10-02 13:15] hanzei commented on #91
This theme doesn't work with Hugo 0.49 due to a bug https://github.com/gohugoio/hugo/issues/5269. Switching to Hugo 0.48 should resolve this issue.

[2018-10-02 13:41] hanzei commented on #85
I create a build script for the docs. Could you checkout the branch `docs_script` and run `./scripts/build_docs.sh`. I hope this solves your problem.

[2018-10-02 15:39] celsomiranda commented on #91
Thanks. :)

[2018-10-03 15:32] andreas-h opened #92 "error calling Concat: slice []interface {} not supported in concat"
I'm using Hugo 0.49 and cannot use this theme.  When trying to compile, e.g., following the instructions in https://github.com/vickylai/hugo-theme-introduction#preview-the-theme, I get the error

    Building sites … ERROR 2018/10/03 17:29:01 Error while rendering "page" in "projects/design/": template: projects/single.html:36:11: executing "js-include" at <partial "footer/scri...>: error calling

[2018-10-03 15:39] andreas-h opened #93 "Demo (on themes.gohugo.io) doesn't work"
The demo site, reachable under the [Demo button](https://themes.gohugo.io/theme/hugo-theme-introduction/) on https://themes.gohugo.io/hugo-theme-introduction/, is broken (it seems like no CSS is being loaded).

[2018-10-03 16:08] hanzei commented on #92
Dublicate of #91

[2018-10-03 16:08] #92 closed

[2018-10-03 16:09] #91 closed

[2018-10-03 16:16] andreas-h commented on #91
Thanks for the lightning-fast reply :-) Is this rather "currently doesn't work, but we're working on it" or "doesn't work, and won't be fixed soon"? I'd offer to lend a hand, but my Hugo-fu is extremely limited (just started looking into it some days ago)?

[2018-10-04 04:14] vickylai commented on #85
The script is just...?

[code]

I've rebuilt the docs site but the result is the same. The assets load fine all except for fontawesome.

I think there is still an underlying issue here, given that https://themes.gohugo.io/theme/hugo-theme-introduction/ does not load any assets. The script only attempts to address building docs/.

[2018-10-04 04:14] vickylai commented on #93
Ongoing issue (duplicate #85 )

[2018-10-04 07:04] #93 closed

[2018-10-10 16:02] hanzei commented on #32
Closing this one for now. @Phoenix-Ann feel free to open it again if the issue still exists.

[2018-10-10 16:02] #32 closed

[2018-10-13 23:13] j1mc opened #98 "Hugo Demo site does not correctly link to CSS"
The Hugo demo site doesn't actually use the "introduction" theme. See:
https://themes.gohugo.io/theme/hugo-theme-introduction/

It is likely an issue with the site base_url configuration or with how the css is linked in the theme.

[2018-10-14 03:08] vickylai commented on #98
#85

[2018-10-14 03:08] #98 closed

[2018-10-19 04:05] vickylai commented on #85
Despite merging #96, the font awesome issue seems to persist on https://vickylai.com/hugo-theme-introduction/

[2018-11-02 02:59] Phoenix-Ann opened #101 "failed to transform "css/main.tmp.css" (text/x-sass) with hugo_0.50"
This is what the console gives me if I try to serve the example files.
Hugo Version：hugo_0.50_Windows-64bit

[code]

[2018-11-02 06:43] hanzei commented on #101
You need the extended version of hugo. Could you try again with the extended version?

[2018-11-02 08:33] Phoenix-Ann commented on #101
How to get extended version of hugo?

[2018-11-02 09:16] Phoenix-Ann commented on #101
I have tried several versions of hugo,results are as follows
Env：
### Theme version
 [563cf77 ]( https://github.com/vickylai/hugo-theme-introduction/commit/563cf77fe15a904a93cb4aa5f18709ca64d9574e
)
###  Hugo version
**hugo_0.45_Windows-64bit**
`ERROR 2018/11/02 17:03:48 Current theme does not support Hugo version 0.45. Minimum version required is 0.48`

**hugo_0.48_Windows-64bit**
**hugo_0.49_Win

[2018-11-02 09:34] hanzei commented on #101
Please try **hugo_extended_0.50_Windows-64bit.zip** https://github.com/gohugoio/hugo/releases/download/v0.50/hugo_extended_0.50_Windows-64bit.zip

[2018-11-10 18:00] onedrawingperday opened #106 "The Theme's Demo on the Hugo Website is missing its Hugo Pipes Assets"
Hi @vickylai

On the Hugo Themes website the [demo](https://themes.gohugo.io/theme/hugo-theme-introduction/) of the [Hugo Theme Introduction](https://themes.gohugo.io/hugo-theme-introduction/) has its Hugo Pipes Assets missing.

To fix this issue please see the [Common Permalink Issues](https://github.com/gohugoio/hugoThemes#common-permalink-issues) in the updated README of the Hugo Themes reposit

[2018-11-11 15:07] hanzei commented on #106
Hi @onedrawingperday,
Thanks for the heads up! I will fix this.

Just wondering: Why is it needed to use `.RelPermalink`?

[2018-11-11 15:44] hanzei commented on #106
Sure, I get this. But why does the wrong URL gets generated?

[2018-11-11 17:52] onedrawingperday commented on #106
A theme's demo site lives in a sub-directory. Typically in every instance we advice theme authors to use the `absURL` function or `.Permalink` to create absolute URLs in the templates.

Why this is the opposite with Hugo Pipes Assets? Why does one have to use .RelPermalink in the templates, so that these assets are served correctly on the Themes website?

Well @hanzei this is a question that only

[2018-11-11 21:52] hanzei commented on #106
Just a short addition to my previous post:
https://themes.gohugo.io is **the** website to show hugo themes. If themes can't use `.Permalink` for assets, this is a drawback. Because of this I why this problem occurs.

[2018-11-11 21:56] bep commented on #106
I assume there is a GitHub issue describing this bug?

[2018-11-11 22:06] onedrawingperday commented on #106
@bep None that I am aware of. I did inform you though when I first discovered that `.RelPermalink` is needed for Hugo Pipes Assets in demos over [here](https://github.com/gohugoio/hugoThemes/issues/395#issuecomment-409029194)

I didn't get a reply so I assumed that this was as-is-behavior.

Also we have added it in the repository's README over [here](https://github.com/gohugoio/hugoThemes#common-p

[2018-11-11 22:11] bep commented on #106
It's reported here:

https://github.com/gohugoio/hugo/issues/5226

[2018-11-11 22:47] onedrawingperday commented on #106
They don't behave the same on the Hugo Themes website. `RelPermalink` , `RelURL` and URLs that start with a forward slash `/` are always made relative to the root of website. Theme Demos live in sub-directories. Therefore if these relative URLs are used for theme assets they will end up missing because they will be created relative to `themes.gohugo.io` and not `themes.gohugo.io/some-theme/`.

The

[2018-11-12 08:30] hanzei commented on #106
@onedrawingperday I'v submitted a PR to fix this.

@onedrawingperday @bep Thank you very much for the time and effort you guys put into Hugo!

[2018-11-13 10:07] hanzei commented on #85
For further discussion about the bug on https://themes.gohugo.io/theme/hugo-theme-introduction/ see #106

[2018-11-16 14:32] hanzei commented on #106
Since https://github.com/gohugoio/hugo/issues/5226 is fixed, is there any need for changes in this theme?

[2018-11-16 14:38] onedrawingperday commented on #106
@hanzei nothing really changed regarding the guidance I gave.

So the PR you sent to fix this theme should be merged.

[2018-11-21 09:21] Phoenix-Ann commented on #32
I have tried，it works with the latest theme. Thank you very much.
But there is another little bug,when content is English,it works.while content is Chinese it does't work.

[2018-11-22 06:50] Phoenix-Ann opened #108 "Anchor links with Chinese doesn't work.Toc content with other languages does not work"
But there is another little bug,when content is English,it works.while content is Chinese it does't work.
When click Chinese content,it report as below
![image](https://user-images.githubusercontent.com/17487620/48833775-1b712c80-edb7-11e8-9636-4f2c35b9653e.png)

_Originally posted by @Phoenix-Ann in https://github.com/vickylai/hugo-theme-introduction/issues/32#issuecomment-440593221_

[2018-11-22 08:53] hanzei commented on #108
Thanks for the report @Phoenix-Ann! Could you share a link to you web site, so we can reproduce the bug?

[2018-11-22 09:45] Phoenix-Ann commented on #108
https://anna3.pub/blog/%E5%9C%A8windows%E4%B8%8A%E5%85%BC%E5%AE%B9python3%E5%92%8Cpython2/

[2018-11-28 08:00] Phoenix-Ann commented on #108
I find when I set navbar-item in Chinese,it have the same performance.
![image](https://user-images.githubusercontent.com/17487620/49137199-b6718580-f326-11e8-8a2f-cb524ab350dd.png)

[2018-11-28 15:46] #85 closed

[2018-11-28 15:46] #106 closed

[2018-11-28 17:31] onedrawingperday opened #109 "Fonts missing from the Theme's Demo on the Hugo website"
Hello @hanzei for the Fontawesome icons and the Nunito Sans fonts to load in your theme's demo on the Hugo website, you need to change [lines 2-3](https://github.com/vickylai/hugo-theme-introduction/blob/master/assets/sass/style.sass#L2-L3) of `/hugo-theme-introduction/assets/sass/style.sass`] to the following:

[code]

For an explanation of these changes please have a look at the [Common Permalin

[2018-11-28 17:45] hanzei commented on #109
You can't use absolute URLs in css font-face src paths as far as I know.

The changes you propose produce an error because of this:
[code]

[2018-11-28 17:46] hanzei commented on #109
Hugo 0.52 should fix this, right? Could you update https://github.com/gohugoio/hugoThemes to Hugo 0.52 and see if it works?

[2018-11-28 18:48] onedrawingperday commented on #109
@hanzei

Locally I am on Hugo 0.53 DEV extended. So this issue has nothing to do with Hugo 0.52

I have just reproduced the above ERROR you mentioned. Sorry I should have tested more before opening this issue.

From what I gather that you store the full webfont PATH in those variables hence the ERROR with the above changes.

The [Hugo Bilberry Theme](https://github.com/Lednerb/bilberry-hugo-theme)

[2018-11-28 19:50] hanzei commented on #109
Thank you very much for your help @onedrawingperday! I was able to fix the problem. Could you please pull the current `master` of this theme and test it?

[2018-11-28 20:37] onedrawingperday commented on #109
@hanzei Right. So the fix in https://github.com/vickylai/hugo-theme-introduction/commit/5895d84506e343b20d34d76c51edcc879602d666 was much simpler after all.

Now everything is looking good on my end when I execute the Build Script. 👍

The Introduction Theme's demo will be fixed on the Hugo website the next time that @digitalcraftsman updates the themes.

[2018-11-28 20:37] #109 closed

[2018-11-29 03:10] Phoenix-Ann commented on #108
Oh~！ I find a way to resolve this bug.
Reason:

[> When using the address bar to submit query parameters, if not encoded, non-English characters will be encoded into the server according to the operating system's character set, and the server will decode according to the configured character set, so if the two are inconsistent, it will lead to garbled characters.

Bug Fix:
File: hugo-theme-introdu

[2018-11-29 10:16] Phoenix-Ann opened #112 "When projects\_index.md title is in Chinese,Firefox and IE can't jump to the right way"
Browser compatibility
Step:
1.Set projects\_index.md or Blog\_index.md title in Chinese,as blow
`title: "句读" `
2.Click the navbar-item ”句读“ with Firefox or IE
![image](https://user-images.githubusercontent.com/17487620/49214921-9d3e0700-f402-11e8-8401-f26e050156d7.png)
3.Can't jump to the right way.

PS：When Click the navbar-item ”句读“ with Chrome,it works well.

[2018-12-16 11:44] VincentTam opened #114 "Update theme.toml with new license again"
#71 has been closed, but `theme.toml` still displays AGPL-3.0.  I think it should be updated to reflect 57081c949d102847511689d6d08f1ffdb983c786.

[2018-12-18 00:27] VincentTam opened #116 "What is the role of `docs`"
The project owner says that `docs` is generated from `exampleSite` in #85.  The generated HTML source code is once again posted in a *separated* GitHub repo "introduction".  I find that a bit complicated.  I wonder why GitHub's built-in `gh-pages` branch is not utilised for hosting the theme's demo site, unlike Octopress.  Putting them in one single repo helps us focus better during code explorati

[2018-12-19 13:19] hanzei commented on #116
https://github.com/vickylai/introduction is not longer used and should be removed.

What advantages do you see with using a `gh-pages` branch of the example site?

These two files should not be checked it. There are generated in https://github.com/vickylai/hugo-theme-introduction/blob/master/layouts/partials/head/css.html depending of you using `hugo` or `hugo server`.

We check in `exampleSite/re

[2018-12-19 13:36] VincentTam commented on #116
Thanks for your explanation.  I've abandoned GitHub Pages for a year, and I've recently switched to GitLab Pages, so please excuse me for the question in the title, as well as the question about `gh-pages` branch.  I've just realised that GitHub has changed the technical details, so that it's now possible to build GitHub pages from `master/docs`.

[2018-12-19 13:41] hanzei commented on #116
I see that isn't not idiomatic to include the generated source of the example site in this repo. But I don't see an easier other way.

[2018-12-31 00:40] SaschaMann opened #121 "Add Mastodon website verification setting"
Mastodon allows users to verify a website linked in their profile is owned by them by adding a link on their website that contains a `rel="me"` attribute and links to their mastodon profile, e.g. `<a rel="me" href="https://foo.social/@bar">Mastodon</a>`.

Currently, there is no trivial way to add that attribute to the link by only using the `params.social` part of the `config.toml` file. I realise

[2019-01-03 05:46] javob opened #122 "themeStyle not working"
I am using the theme with blowdown, however I am not able to change the themeStyle to "dark". I installed autoprefixer and postcss-cli via terminal (on a Mac). Is there anything else I need to do to enable the .sass files to work? or is this feature not available when creating the website using blowdown?

[2019-01-04 05:04] javob commented on #122
This was resolved, R had conflicting versions of Hugo installed. Once I deleted, and reinstalled, Blogdown worked without any issue.

[2019-01-04 05:04] #122 closed

[2019-01-06 18:23] glebt opened #123 "Compilation Errors - css/main.tmp.css"
Building sites … ERROR 2019/01/06 13:17:49 error: failed to transform resource: TOCSS: failed to transform "css/main.tmp.css" (text/x-sass): this feature is not available in your current Hugo version
Total in 1407 ms
Error: Error building site: logged 1 error(s)

Tried in 0.53 and .52

[2019-01-06 20:11] hanzei commented on #123
@glebt Did you use the **extended** version of Hugo? Could you please report your Hugo version? You can show it with `hugo version`.

[2019-01-06 20:14] glebt commented on #123
@hanzei

C:\hugo_sites\my-cool-site>hugo version
Hugo Static Site Generator v0.52 windows/amd64 BuildDate: 2018-11-28T14:07:10Z

not sure if it's extended

[2019-01-06 21:16] glebt commented on #123
thanks, that worked. closing it...

[2019-01-06 21:16] #123 closed

[2019-01-06 21:33] hanzei commented on #121
Hey @SaschaMann,

You are talking about the social icons in the ntroduction and contact section, right?

If you, I don't see an simple way to add such information to `config.toml`. What would be your proposed solution?

[2019-01-06 21:36] #114 closed

[2019-01-06 22:42] hanzei commented on #116
I think the lesson learned from this is, that `docs` should not be regenerated by contributors. Every time we do a release we should update `docs`.

@VincentTam are you fine if I close this one?

[2019-01-06 22:42] VincentTam commented on #116
👌

[2019-01-06 22:47] #116 closed

[2019-01-07 20:38] SaschaMann commented on #121
Yep, that section. I am not quite sure if there's a good way (very limited experience with hugo themes and modern HTML) that isn't mastodon-specific but would work for this. Mostly opened the issue as suggestion/some issue I ran into as a user, without having a decent solution in mind.

Perhaps an optional `rel` parameter?

[code]

Or, to keep it a bit more general, an optional parameter that allo

[2019-01-08 15:16] hanzei commented on #121
This would be fine. Would you be open to submit a PR for this? It could be a good place to start with hugo :wink:

[2019-01-09 22:15] SaschaMann commented on #121
I'll give it a try!

[2019-01-14 07:57] snow2k9 commented on #112
Hey, just tried to reproduce, `content/zh/projects/_index.md`
[code]
Scrolled to my Projects, as expected
On Linux Firefox 64.0 (64-Bit) and Windows Firefox 64.0.2 (64-Bit) and latest commit of introduction

[2019-01-14 12:35] #121 closed

[2019-01-28 00:38] daniel-wing opened #127 "Syntax Highlighting"
I am using the theme through RStudio Blogdown package and I can't get the Syntax Highlighting working. I have tried every Param config I can think of and even tried to add a js.html in the patials/js folder to no success.

Is it just me? Any ideas on how to get it working?

[2019-01-28 16:47] hanzei commented on #127
Could you share the code of your website?

[2019-02-12 22:24] Gia777 opened #130 "themeStyle issue"
Hi, I have the same issue as #122 themeStyle not working. I am using the theme via RStudio Blogdown on IOS and having trouble changing the themestyle to "dark". According to the #122 comment, I updated both RStudio and Hugo to make sure they are at the latest versions, but the dark themestyle still remain inactive. Does anyone else also have this issue? Can anyone provide more details about the so

[2019-02-13 06:38] hanzei commented on #130
There shouldn't be more to do then changing `themeStyle` from `light` to `dark`.

What Hugo version are you running? What is the console output your see?

[2019-02-14 10:22] mingsu commented on #65
Hi @StevenPuttemans, really like your conference site, is that possible to share the code behind?

[2019-02-14 10:52] StevenPuttemans commented on #65
Hi @mingsu you can basically find my original HUGO code at https://github.com/StevenPuttemans/own_website_hugo_code. Feel free to pick out any items you like! Still a lot of todo items on my list, but haven't found the time as post-doc to invest more.

[2019-02-14 10:54] StevenPuttemans commented on #65
Ow you mean the conference website 🤦‍♂️ I will upload it tomorrow at work ...

[2019-02-14 11:12] mingsu opened #131 "Image display enhancement"
Image ratio
============

Images with non-standard size (e.g. large height but small width) are filled in projects image blocks, which changed the ratio.

How to keep the original ratio?

Image rotation
============

Is it possible to automatic read the rotation property from exif, so that to get the right rotation.

Something like:

[code]

I tried to add this css to `assets/custom.css`, but with

[2019-02-20 10:58] StevenPuttemans commented on #65
The code can be found at https://github.com/StevenPuttemans/amv_hugo_code
Had some issues with pc and forgot about this, but here you go! Feel free to reuse anything there.

[2019-02-24 22:42] Gia777 commented on #130
Thank you for replying! It's a bummer...I'm running v0.54.0 version. Attached is the console output.
<img width="824" alt="screen shot 2019-02-24 at 17 39 34" src="https://user-images.githubusercontent.com/46694666/53306485-96852b80-385b-11e9-895e-f4ac14df2011.png">

[2019-02-25 09:33] hanzei commented on #130
You you please run `hugo version` and post the output here?

[2019-02-25 17:52] Gia777 commented on #130
Sure! but isn't blogdown::hugo_version() the code to check the installed Hugo version?

<img width="827" alt="screen shot 2019-02-25 at 12 48 05" src="https://user-images.githubusercontent.com/46694666/53357552-24185800-38fc-11e9-8dfd-4ec11e9d3d62.png">

[2019-02-25 20:29] hanzei commented on #130
I have no idea what blogdown is. But a simple shell should do the tick here.

[2019-02-25 20:39] batch22 opened #132 "Also get the project open in "pop-up" when using self defined menu."
I'm trying out this wonderful theme.

I love that in the example site that when you click on a project that it opens as a pop-up or overlay.
But actually when I'm using my self defined menu with a separate page for "Projects" I don't seem to get the popup.
So i.e. when on site localhost:1313/projects/ the projects are listed but when I click a project it doesn't open as a overlay pop-up. Instead i

[2019-02-25 20:47] hanzei commented on #132
Hey @batch22,

Glad you like the theme. Does your site by any change has more projects then three?

Could you please try and comment out `params.home.numberOfProjectsToShow` in `config.toml`?

[2019-02-25 21:16] batch22 commented on #132
Hello @hanzei,

Thanks for you reply.

I did try your suggestion to comment out the line but there is no difference.
The site still has the basic content with 3 projects. In future I would love to populate to more projects.

Since it's a separate page popup would be awesome so vistors could just click to close the popup and remain in projects overview page so they won't have to browse 'back'.

[2019-02-25 21:19] hanzei commented on #132
Did you alter `exampleSite` in any way? If so, mind sharing this code?

[2019-02-25 21:25] batch22 commented on #132
No I didn't alter it. I just tested it with a new site with clean introduction theme.
created custom menu with separate /projects/ page and there it also happens not to pop-up.

[2019-02-25 21:28] hanzei commented on #132
Could you provide some easy to follow steps on how to reproduce this exactly?

[2019-02-25 21:37] batch22 commented on #132
Yes sure...

-You can quickly see reproduce it when you make new site in HUGO.
-Add clean introduction theme to themes folder.
- and alter the example site, config.toml. then you can easily see it.
Here's the adjustment in the toml.
` #If you don't want to use the default menu, you can define one by yourself
 [[menu.main]]
     name    = "Home"
     url     = "/"
     weight  = 0
 [[menu.main]]

[2019-02-25 21:56] batch22 commented on #132
After editing the toml you can cd to exampleSite dir:
hugo serve  --themesDir ../..
Then you can see so no popups are being used when using self defined menu

[2019-02-26 00:31] Gia777 commented on #130
Thanks so much! This is blogdown I referred to: [https://bookdown.org/yihui/blogdown/get-started.html](url) I've tried your suggestion and the output is still "error", but I'm pretty sure the hugo version I'm running is v0.54.0(the latest). I know nothing about sass--would it be possible for you to look at my dark style sass files and see if there is anything wrong or anything I can try tweaking?

[2019-02-26 16:51] timpauli opened #133 "change location of projects section"
Hi!

First of all thank you for creating this great theme.
Is it possible to change the order of the sections so that the projects section comes right after the about section?
Cant figure out how to do that.
Thank you very much in advance.

[2019-02-27 09:24] hanzei commented on #133
This is not possible with a setting. But you can provide a modified copy of https://github.com/vickylai/hugo-theme-introduction/blob/master/layouts/index.html in your `layouts` directory.

[2019-03-01 12:55] solrayc opened #134 "CSS not loading on production site"
Hi,
My site does not render CSS when on firebase hosting.
Chrome shows this in console:

[code]

My site renders just fine in local dev environment with `hugo server`.

Hugo version

[code]

I have set my baseURL to something like this: `https://myprivate-project.firebaseapp.com/`. is, of course not the real url I'm using.

Love this theme.
Thank you for your help.

[2019-03-02 10:09] solrayc commented on #134
Fix it by installing dependencies:
[code]

[2019-03-02 10:57] inkeye commented on #133
So basically you would need to add the __index.md_ of _projects_ and and _blog_ to the sorted loop of [line 43](https://github.com/vickylai/hugo-theme-introduction/blob/a8f42fd1d688424555b012fa55820ea9f982e3a5/layouts/index.html#L43)
but then treat them special inside the loop.
So you could specify the placement of them with the _weight_ attribute.
Unfortunately I dont have the time currently to l

[2019-03-02 13:56] hanzei commented on #134
Glad you figured it out yourself :wink:

[2019-03-02 13:56] #134 closed

[2019-03-13 21:16] onedrawingperday opened #135 "Missing Assets and CORS errors in theme's demos"
Hello again,

As you may remember, I am one of the maintainers of Hugo Themes and it has come to my attention that since PR #126 was merged this theme's demos both on the Hugo Themes website and on Netlify are throwing CORS errors.

The CSS stylesheets are not loading because the credentials flag was set to `'same-origin'` in the above PR. see https://developer.mozilla.org/en-US/docs/Web/HTML/CORS

[2019-03-14 19:39] victoriadotdev commented on #127
Hey @daniel-wing,

If this remains an issue please ensure `pygmentsCodeFences = true` and other syntax highlighting variables are set in your config file at the first level, and not under `[params]` or equivalent. Example `config.toml`:

[code]

Closing as stale for now.

[2019-03-14 19:50] victoriadotdev commented on #130
Hey @Gia777,

Is your site generating properly with the light theme? If so, would you please post your config file, and/or the HTML page that is output?

Thank you.

[2019-03-15 10:27] hanzei commented on #132
I'm still not able to repo this issue. Would you be open to share your site's code?

[2019-03-15 10:29] hanzei commented on #133
That is not no easy. How would you design the setting to do this?

[2019-03-15 11:20] timpauli commented on #133
Just the same like in the home section with the `weight` property.

But mabye you got my use of the word

wrong here. With user I dont mean the visitor of the website, I mean the builder of the website with the template.

[2019-03-15 13:13] batch22 commented on #132
I appreciate your help but  I already skipped this project on Hugo.

When you test it by altering as mentioned above you could easily replicate the issue.

Cheers!

[2019-03-15 13:13] #132 closed

[2019-03-18 06:14] hanzei commented on #133
Where would you define this `weight`? Would you be open to share an example of a configuration file?

[2019-03-18 14:55] timpauli commented on #133
In `content/en/home/foo.md` for example you specify the position like this:

[code]

I would just apply the same concept to `content/en/projects/_index.md`.

[2019-03-18 19:43] #135 closed

[2019-03-18 21:20] victoriadotdev commented on #135
@onedrawingperday CORS policy has been amended plus some relative link tweaks. Netlify seems to work now, please let me know if the theme demo issue persists.

[2019-03-18 21:45] onedrawingperday commented on #135
@victoriadotdev I will let you know in a separate issue, once I test your theme with the latest changes.

[2019-03-23 19:25] hanzei commented on #133
Seams reasonable. Would you be open to implement this?

[2019-03-23 19:26] hanzei commented on #112
Hey @Phoenix-Ann,

Would you please try to repo this issue with the latest `master`?

[2019-03-24 15:20] davidski opened #141 "Page interface changes in hugo master break the theme"
This (https://github.com/gohugoio/hugo/commit/597e418cb02883418f2cebb41400e8e61413f651) recent big landing on hugo master seems to break this theme. This means anyone using `go get` to install hugo will not be able to use this theme. I'm not familiar enough with hugo to fully debug this, but this looks related to the taxonomy changes. Opening this up for more knowledgeable eyes than mine to take a

[2019-03-24 18:38] hanzei commented on #141
Hey @davidski,

Thanks for the report and heads up. I will look into this issue after the next release of Hugo has been published. Who knows what kind of other breaking changes will come up?

Site note: Is there a particular reason you install Hugo via `go get` instead of fetching the binary? You can also use `go get github.com/gohugoio/hugo@v0.54.0` if you are using Go Modules.

[2019-03-24 20:21] hanzei commented on #141
See also https://github.com/gohugoio/hugo/issues/5784#thread-subscription-status

[2019-03-24 20:34] onedrawingperday commented on #141
@hanzei

The problem is in `/layouts/partials/nav.html`

Basically you need to change `.Page.IsHome` to `.IsHome` and every other instance of `.Page` e.g. `.Page.Section` since now Page has become an interface.

However also keep track of https://github.com/gohugoio/hugo/issues/5784 in case something changes.

[2019-03-24 21:48] davidski commented on #141
Thanks for the quick investigation!

Pinning a particular version of hugo would *definitely* be a much better idea. I'm running this particular build on Travis CI, where I've been spectacularly unsuccessful in getting a defined version of hugo up and running. The linux x64 builds surprisingly seem to require some additional C++ compilers to run, which was a bit too exhausting to track down this we

[2019-03-24 22:33] hanzei commented on #141
Take a look at https://github.com/victoriadotdev/hugo-theme-introduction/blob/master/.travis.yml#L13-L16

[2019-03-24 22:55] davidski commented on #141
Appreciate the tip! Unfortunately, that still errors out for me due to the versions of glibc available. This may be because I'm running hugo extended for full resource regeneration...

https://travis-ci.org/davidski/tidyrisk/builds/510726068 shows the errors I get, if you're curious. :smile:

[2019-03-25 06:06] hanzei commented on #141
We are getting off-topic quite fast, but still:

I strongly think you should check in your `resources` directory and get rid of the extended version for CI. There is just no need for it.

[2019-03-25 15:58] onedrawingperday commented on #141
@hanzei Feel free to close this issue. You don't really need to worry about this as it was fixed.

Note that several variables became deprected and these will now throw warnings that you will need to address once Hugo 0.55 is out.

[2019-03-25 20:16] hanzei commented on #141
Thanks for the heads up @onedrawingperday.

And as always: Thank you very much for the work you do for Hugo and the community! It's awesome! :tada:

[2019-03-25 20:16] #141 closed

[2019-04-01 02:20] Phoenix-Ann commented on #112
The latest version works

The latest version works

[2019-04-01 02:20] #112 closed

[2019-04-01 03:32] Gia777 commented on #130
Hey! Thanks for replying :)

Actually, my site doesn't generate properly with the light theme--the social media icons and the little arrow at the bottom of each section don't display anymore (they are replaced by empty squares instead). But this problem only popped up recently.
<img width="1313" alt="Screen Shot 2019-03-31 at 23 13 15" src="https://user-images.githubusercontent.com/46694666/553017

[2019-04-03 01:40] nsio-admin opened #142 "Problem with integrity attribute when using as submodule"
When attempting to deploy a site using Hugo + Introduction theme (configured as a submodule) using Azure Repos and Azure Pipelines, and then deploying to an Azure App Service website, I keep getting the following error in the browser from the finally deployed site:

Failed to find a valid digest in the 'integrity' attribute for resource 'https://mysite.azurewebsites.net/css/main.min.9c369cba081a2d

[2019-04-03 06:56] hanzei commented on #142
I'm quite sure that has nothing to do with submodules.

Would you mind trying the extended hugo version for the build script/environment?

[2019-04-03 06:59] hanzei commented on #130
@Gia777 Would you mind uploading the source of your website on GH and linking it here? It would make debugging much easier.

[2019-04-04 10:31] hanzei commented on #142
Where does the code use CRLF?

[2019-04-05 19:40] snow2k9 commented on #130
Hey, if it's [this repo](https://github.com/Gia777/thankshanna), then I see no issues while hugo serving it.
But on [your Website](https://www.giawei.com/) your fonts are pulled from vickylai.com and getting a 404.

If i build your repo on my machine everything is alright.
Using Hugo Static Site Generator v0.54.0/extended linux/amd64

Perhaps you could try
`git submodule add https://github.com/vic

[2019-04-10 12:41] #133 closed

[2019-04-11 07:31] hanzei opened #149 "Menu doesn't respect weigth parameter"
Another thing I came across is: The menu points at the top of the page now do not represent the weighted order of the sections. Which seems a bit odd to me. I would expect they appear from top to bottom like they appear from left to right in the menu bar.

_Originally posted by @timpauli in https://github.com/victoriadotdev/hugo-theme-introduction/pull/143#issuecomment-481880667_

[2019-04-11 07:32] hanzei commented on #149
@snow2k9 Are you interested in fixing this?

[2019-04-11 08:47] snow2k9 commented on #149
Yep see #150

[2019-04-13 12:22] graphenn opened #151 "It seems blog doesn't work"
After update to new version 76123d6, It seems "blog" section doesn't work.
It seems to be handled as a normal Lorem Ipsum.

[code]

[2019-04-21 13:01] k-j-kleist commented on #151
Are you using Windows, by any chance? I do, and I had the same issue.

An hour's debugging revealed that a known Hugo feature is to blame: https://github.com/gohugoio/hugo/issues/3187

As a workaround, I modified `layouts/index.htm`, and inserted
`{{ $fileDir := replace .File.Dir "\\" "/" }}` before the two tests here:

https://github.com/victoriadotdev/hugo-theme-introduction/blob/master/layouts/

[2019-04-24 14:51] #149 closed

[2019-04-25 18:20] YShane commented on #151
This is still a pretty big issue.  Could this possibly be dealt with? Would open a pull request but I imagine it can't be more than a few lines to change.

[2019-04-25 18:23] YShane commented on #151
It did now, actually. Cheers!

[2019-04-26 03:02] hanzei commented on #151
I will look into this

[2019-05-24 05:28] Sieboldianus opened #155 "Standard Dockerfile for Hugo Introduction not working"
Hi Victoria, this is an awesome theme for Hugo, thanks so much!

I had problems getting it to build in Gitlab Continuous Integration using the [standard Dockerfile for Hugo](https://gitlab.com/pages/hugo). Neither did any of the Dockerfiles for the extended versions work, [e.g.](https://github.com/klakegg/docker-hugo).

This is the final Dockerfile I ended up using - constructed from the official

[2019-05-30 14:20] graphenn commented on #151
It works now! Thanks

[2019-05-30 14:20] #151 closed

[2019-07-22 00:36] victoriadrake opened #156 "Replace deprecated .URL parameter"
Running Hugo v0.55.6 I see:

[code]

This needs to be updated in the theme's layout files.

[2019-07-22 00:46] victoriadrake opened #157 "Scope v4.1.0 milestone"
This theme has seen a lot of active development, thanks 100% in part to its amazing community of users and @hanzei for championing it all!

Many things have changed in just the last few months and I think we're overdue for at least v4.1. I'd like some help deciding on its scope.

* __Comments?__ #119 could integrate Staticman for comments, if that's something this theme's users thinks is appropria

[2019-07-22 00:47] victoriadotdev commented on #155
Thank you for sharing this!

[2019-07-22 00:47] #155 closed

[2019-07-22 04:52] tanohzana commented on #156
I can do that if you want ! 😉👌🏽

[2019-07-22 05:18] Sieboldianus commented on #157
It is perhaps not critical, but I love both the black and the white version. I thought about ways to deploy both on my website, e.g. have the white version deployed under www.*.com and the black version deployed under *.com (for this, I only need to compile the site twice with different `config.toml`'s passed with the `-t`-flag and rendered to different folders).

But ultimately, a button for swit

[2019-07-22 10:59] hanzei commented on #156
Thanks @tanohzana :+1:

[2019-07-25 14:02] VincentTam opened #158 "Leading slash in relative paths"
# Observations
## Owl Carousel
The path in `resources.Get` in the following two codeblocks are different.
https://github.com/victoriadrake/hugo-theme-introduction/blob/e18c5c54295eaafdd8483e8ede487538866166d9/layouts/partials/js/owlCarousel.html#L1-L4
https://github.com/victoriadrake/hugo-theme-introduction/blob/e18c5c54295eaafdd8483e8ede487538866166d9/layouts/partials/css/owlCarousel.html#L1-L4
#

[2019-07-26 19:42] VincentTam commented on #157
@Sieboldianus Thanks for positive feedback regarding to [Staticman](https://staticman.net).  You're right about Disqus.  Some of its drawbacks are discussed in

1. https://victorzhou.com/blog/replacing-disqus/
1. https://old.reddit.com/r/programming/comments/b9022a/switching_off_of_disqus_reduced_my_page_weight_by/
1. https://medium.com/remys-blog/ejecting-disqus-4120e9985823

To use Commento, the

[2019-07-31 08:52] tanohzana commented on #156
Little update on this. I have not forgotten about it. I'll do it today 👌

[2019-07-31 21:43] tanohzana commented on #156
@hanzei can reproduce the `warning` 🤔 also I found this online:

https://github.com/gohugoio/hugo/issues/5868

TLDR: Apparently `.URL` is not deprecated for menu. You probably got the warning from something you coded that does not belong to the theme. Check if you have any `.Page.URL`...

Let me know 😉

[2019-08-03 23:20] VincentTam commented on #157
As promised in my previous comment, the Staticman integration UI has been improved (at least, for desktop display).

[![I + SM UI 19](https://framapiaf.s3.framasoft.org/framapiaf/media_attachments/files/004/298/254/original/9743843b174cf891.png)](https://vincenttam.frama.io/introduction/blog/hipster-ipsum/)

[2019-08-07 08:11] hanzei commented on #157
TBH I would rather cut `v4.1.0` sooner then later. It's been a long time since `v4.0.0` and the release will also contain various bug fixes. Other features can just go into `v4.2.0`.

[2019-08-07 09:50] VincentTam commented on #157
@hanzei Before cutting the line, can you please add in #158?  It aims at replacing all leading forward slashes so that the site can be correctly built in case of nonempty subpath in the `baseURL`.  Here's some related Hugo discussions:

1. "Make sure not to use a forward slash for URL": https://discourse.gohugo.io/t/hugo-themes-donts/17714/6?u=onedrawingperday
2. "Don’t use a leading forward slash

[2019-08-07 09:57] hanzei commented on #157
@VincentTam Given this is a bug fix: Surely. I will look into this in the next days.

[2019-08-07 13:39] hanzei commented on #156
I'm using `v0.56.1` and I'm not seeing this warning. I also don't see a use of `.URL` in the code outside of menu elements.

@tanohzana @victoriadrake Can you please check again?

[2019-08-07 13:40] hanzei commented on #142
Closing this one use to inactivity. Let me know if this is still an issue @nsio-admin

[2019-08-07 13:40] #142 closed

[2019-08-07 13:41] hanzei commented on #131
@mingsu Can you please share a screenshot and a sample image?

[2019-08-07 13:55] #158 closed

[2019-08-07 14:10] hanzei commented on #130
Hey @snow2k9,

I've build your website locally and it works just fine. Can you explain in more details what the problem is?

[2019-08-07 14:10] hanzei commented on #130
Hey @snow2k9,

I've build your website locally and it works just fine. Can you explain in more details what the problem is?

![Screenshot from 2019-08-07 16-09-35](https://user-images.githubusercontent.com/16541325/62629645-e0575f00-b92d-11e9-8a03-1f04a2643ffb.png)

[2019-08-07 14:13] snow2k9 commented on #130
Not me, tried to help :)

@Gia777

[2019-08-07 15:17] VincentTam opened #162 "Can't render image in a sample post"
The sample post contains a link starting from `/`.

    ![Sample image](/img/workday.jpg)

https://github.com/victoriadrake/hugo-theme-introduction/blame/master/exampleSite/content/en/blog/coffee-ipsum.md#L9

This has caused an error in `hugo serve ...`.

![Screenshot_2019-08-07_17-06-47](https://user-images.githubusercontent.com/5748535/62634817-ce2dee80-b936-11e9-93ce-e274950fdd2d.png)

I've ask

[2019-08-07 21:20] hanzei commented on #130
Oh, woops mixed up the names :wink:

[2019-08-08 16:04] master2go opened #164 "Logo"
Hello,
i'm new to Hugo and like introduction very much. Is there a possibility to insert a logo?
Thanks a lot
Inge

[2019-08-09 02:44] #130 closed

[2019-08-09 02:55] Gia777 commented on #130
Thank you so much, everyone! I appreciate your help :^) I've decided to build a new website due to a time limit, but I'll def check back on this theme when I have more free time. My absolute favorite theme--keep up the good work!!

[2019-08-09 05:12] hanzei commented on #164
Hey @master2go,

You add images to the sections on the home page
![Screenshot from 2019-08-09 07-09-56](https://user-images.githubusercontent.com/16541325/62755616-089da580-ba75-11e9-9be8-84b683392318.png)

Does this solve your question?

[2019-08-12 22:41] JustMeErazem opened #169 "Webpage displays only xml"
I'm trying to build a website for a project and deploy it with Github pages. The website preview is available [here](https://justmeerazem.github.io/anarchy-linux/), the source code for the website in the [website-source](https://github.com/JustMeErazem/anarchy-linux/tree/website-source) branch and the deployed website in the [gh-pages](https://github.com/JustMeErazem/anarchy-linux/tree/gh-pages) b

[2019-08-13 12:29] JustMeErazem commented on #169
Here's the error: ```Building sites … WARN 2019/08/13 14:28:33 found no layout file for "HTML" for "page": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.
WARN 2019/08/13 14:28:33 found no layout file for "HTML" for "page": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.
WARN 2019/08/13 14:28:33 found n

[2019-08-13 13:01] JustMeErazem commented on #169
Fixed it: the theme submodule wasn't properly downloaded.

[2019-08-13 13:01] #169 closed

[2019-08-15 17:32] victoriadrake opened #172 "Menu link for sections not working"
# Expected behavior:

When we navigate to a Project, ie. [Photography](https://hugo-introduction.netlify.com/projects/photography/), the link in the menu should change to "Back to Projects." The same behavior should be observed for any section.

# Observed behavior:

On both these pages:
https://hugo-introduction.netlify.com/projects/
https://hugo-introduction.netlify.com/projects/photography/

Th

[2019-08-15 17:36] victoriadrake commented on #156
Can no longer reproduce. :woman_shrugging:

[2019-08-15 17:36] #156 closed

[2019-08-20 00:46] victoriadrake commented on #157
Sorry ^^;

Since we've had no further feature requests, @hanzei I'm with you. Can we call it after the few remaining open bugs?

[2019-08-21 14:18] VincentTam opened #173 "Incorrect Polish translation"
Thanks for great theme with good i18n support.  I've just spotted out a minor grammatical error in the Polish locale.
https://github.com/victoriadrake/hugo-theme-introduction/blob/8b1684b6c27c51bde5c4bb058e40e288089eb129/i18n/pl.toml#L19-L21
The word ["minut" is mispelled](https://dictionary.cambridge.org/spellcheck/polish-english/?q=minut), and it should be "minuta" and "minuty" in singular and p

[2019-08-29 15:15] #157 closed

[2019-08-31 20:48] SiddAjriY2Jaccount opened #179 "Dark Theme not working"
Changing theme param to dark in config.toml is not changing the theme

[2019-08-31 21:03] SiddAjriY2Jaccount opened #180 "Adding files like pdf or doc files"

[2019-08-31 21:53] hanzei commented on #180
Can you please enaborate a bit more? What exactly is you feature request?

[2019-08-31 21:54] hanzei commented on #179
What Hugo version are you using?

[2019-09-02 06:05] SiddAjriY2Jaccount commented on #179
v0.50

[2019-09-02 06:06] SiddAjriY2Jaccount commented on #180
I'm not able to figure out how to upload files to host on the webpage. Do I have to add it as a Google Drive Link or can it be hosted on the site itself?

[2019-09-02 09:18] hanzei commented on #180
Hugo allows the inclusion of static files. Please see https://gohugo.io/content-management/page-bundles/ for guidance.

[2019-09-02 09:18] hanzei commented on #179
Can you please show the output of `$ hugo version`?

[2019-09-02 09:51] SiddAjriY2Jaccount commented on #179
Sure
$ hugo version
Hugo Static Site Generator v0.50 linux/amd64 BuildDate: 2018-10-29T09:52:34Z

[2019-09-02 10:07] hanzei commented on #179
Would you please install the extended version of Hugo? https://gohugo.io/getting-started/installing/

[2019-09-02 12:45] SiddAjriY2Jaccount commented on #179
Install it again? As there is no update command available, iirc

[2019-09-02 17:23] hanzei commented on #179
Yes, you have to deinstall your old hugo version and install the extended one.

[2019-09-04 16:19] SiddAjriY2Jaccount commented on #179
What is the latest version? I have reinstalled (using apt-get) and now the version is v0.40.1

[2019-09-04 18:25] SiddAjriY2Jaccount commented on #179
I've done so for v0.58.0, the dark theme and favicon still will not update

[2019-09-04 19:16] hanzei commented on #179
Can you please share the output of `$ hugo version` with me? Can run your hugo build with `-v`?

[2019-09-04 20:26] SiddAjriY2Jaccount commented on #179
Running the Build with -v didn't change the rendered website.

$hugo version
Hugo Static Site Generator v0.58.0-64D8BF1E linux/amd64 BuildDate: 2019-09-04T15:43:47Z

[2019-09-04 20:29] SiddAjriY2Jaccount commented on #179
Another issue that has arisen upon re-installation of Hugo is that clicking on images or highlighted text in projects section doesn't render the text box with the project details.

[2019-09-04 21:04] hanzei commented on #179
Your are still not using the extended version. The output should be:
[code]

[2019-09-04 21:04] hanzei commented on #179
Please open a new issue for this

[2019-09-05 04:12] SiddAjriY2Jaccount commented on #179
Oh alright, will try it out and let you know.

[2019-09-05 19:16] SiddAjriY2Jaccount commented on #179
Unable to install extended version of Hugo on Linux Mint. Docs say apt-get installs the extended version, but it has not proven to be the case.

[2019-09-05 20:27] SiddAjriY2Jaccount commented on #179
Installing using snap resolves the issue, thank you for the help!

[2019-09-05 20:27] #179 closed

[2019-09-05 21:43] SiddAjriY2Jaccount opened #181 "Hosting on Github Pages"
Since here we are provided with an example site being rendered from themes rather than the main hugo root directory what are the steps to host this site on Github Pages?

[2019-10-01 14:13] victoriadrake commented on #181
Hello,

The steps for hosting a Hugo site on GitHub Pages can be found here: https://gohugo.io/hosting-and-deployment/hosting-on-github/

[2019-10-01 14:13] #181 closed

[2019-10-01 14:14] #180 closed

[2019-10-01 14:27] #162 closed

[2019-10-10 23:07] ujwal-narayan opened #182 "Font Awesome"
Hi,
Font awesome icon loads fines in the local server, but whenever I deploy it on aws amplify it attempts to load from `www.example.org` folder instead of the domain name, even though the domain is correctly specified in the config file.
i've tried modifying the sass file for the font awesome loading but have not had any luck getting it to work so far,
It loads perfectly fine on the local server,

[2019-10-13 00:54] victoriadrake commented on #182
HI! I would guess it's something to do with your deploy process, as there's no "`www.example.org`" anywhere in the theme. Even the exampleSite `config.toml` is "`example.com`", but as you said, your config should be correct.

I can help troubleshoot given more details on your deploy process. Are there separate configuration settings for Amplify that may be interfering?

[2019-10-13 18:56] ujwal-narayan commented on #182
Hi,
Yeah it seems to be a deployment issue. Fiddled around more and it's a CORS not enabled problem.
Thanks for your help!

[2019-10-13 18:56] #182 closed

[2019-10-21 23:40] marceljay opened #183 "Custom CSS files"
Since I would like to avoid overriding your (nice and sophisticated) theme, I would work with the files in the main directory and keep the theme as a git submodule.

Somehow, it though only looks up and processes files in /assets in the respective theme folders yet not in root directory.  This is also true for the custom .css files that can be added through the config.toml.
In another theme I was

[2019-10-26 14:38] wireshark47 opened #184 "Doubt regarding Social Media icons."
Hi,
I Tried hosting the Hugo site with this template on Netlify. While everything works fine, some fonts and the social media icons appear as blue boxes. On inspecting there is a network error while fetching the same. Is there something that I am missing. It's similar to how the theme appears in this [example](https://themes.gohugo.io/theme/hugo-theme-introduction/) from the Hugo website.
<img wid

[2019-10-26 14:55] wireshark47 commented on #184
<img width="445" alt="Screenshot 2019-10-26 at 8 24 54 PM" src="https://user-images.githubusercontent.com/25531121/67621627-bdeb2880-f82e-11e9-8d04-79f6625ee7c0.png">

[2019-10-27 10:15] 42Sun commented on #184
me too

[2019-10-28 17:19] wireshark47 commented on #184
So apparently I had not set any parameter for baseURL in config.toml and therefore when Hugo generates the build it sees that there is now value for baseURl. This won't be a problem while using `hugo server` but when hosting via Netlify the URL for accessing all the fonts and icons in the main css inside the css folder will be of something of the format `fonts/NunitoSans/NunitoSans-Regular.ttf` .

[2019-11-13 06:48] awhitford opened #185 "Demo page is broken"
The [Demo](https://themes.gohugo.io/theme/hugo-theme-introduction/) link from [here](https://themes.gohugo.io/hugo-theme-introduction/) is _broken_ --  it appears that the font loads are returning 404. 😢
[code]

[2019-11-13 06:55] wireshark47 commented on #185
Hi @awhitford  The issue exists in the demo link from the Hugo website, but won't be present in the Netlify hosted version of the same. Refer [this](https://github.com/victoriadrake/hugo-theme-introduction/issues/184) if you face the same problem when hosting it on your own.

[2019-11-13 07:12] awhitford commented on #185
@wireshark47 Thanks for the tip.

[2019-11-15 00:07] awhitford opened #186 "Why not use CDN?"
I see there are some assets that are included in the template, such as JQuery, Owl Carousel, and Font Awesome.  Why not use a CDN instead of bundling the assets?

The [benefits](https://stackoverflow.com/questions/3832446/benefits-vs-pitfalls-of-hosting-jquery-locally) include:
1. Reduced latency because CDN files can be downloaded in parallel to files downloaded from your own website.
2. Reduced

[2019-11-15 20:57] AIRyndon opened #187 "Failed to find a valid digest in the 'integrity' attribute"
Hello Everyone

I just started using this theme, and when I publish to github pages I get this error:

**Failed to find a valid digest in the 'integrity' attribute for resource:**

The four culprit files are these:
![image](https://user-images.githubusercontent.com/8405286/68974695-3a818d80-0856-11ea-9f03-792e8977b596.png)

I read about the line ending fix [here][1] and added these to the gitattri

[2019-11-15 22:33] AIRyndon commented on #187
I did a hack and removed the values for integrity in their respective files, the error is resolved now but I think there could be a better solution to this issue.

[2019-11-17 17:59] Athanasiamo commented on #183
I just added a custom css in the assets `assets/css/custom.css` in my root-dir and pointed the toml to that `css/custom.css` and that seemed to work fine for me.

[2019-11-18 09:17] hanzei commented on #186
To me it's mostly privacy. I don't want to make web developers use a CDN by default. Otherwise they are making all of there visitors request resources form a third party.

Also 1. is not a valid argument. HTPP/2 even allows you to push assets to the clients before they are requesting it. Hence it can be faster if you are having the data on you own server.

[2019-11-18 15:35] Athanasiamo commented on #127
Hi.

I'm having issues with this at the moment. Been using this theme for my page a while, but trying to adapt to the theme updates, which broke some stuff.

[code]

but I'm not getting code highlights :/

[2019-11-19 15:37] Athanasiamo commented on #164
I have a solution for adding logos to the hero (behind the text) which I was working on adding as a contribution, if it is of interest, I can try speed that a long a little

[2019-11-19 16:09] Athanasiamo commented on #164
I've done a PR for a solution I have for using logo in this theme, (#188)

[2019-11-21 00:30] meeDamian opened #189 "Ugly markdown tables in dark mode"
Given a table:

[code]

That's how it's being rendered when `themeStyle: dark` is used:

<img width="1083" alt="MacOS 2019-11-21 at 01 25 26" src="https://user-images.githubusercontent.com/526657/69289902-59897200-0bfe-11ea-9318-6a81e4b8a15b.png">

Not great, _methinks_.

[2019-12-20 15:57] smallhorse-lab opened #190 "Permissions to access your Introduction theme updates"
Hi Victoria,
I'm new to Git , Hugo and pretty much all this coding thing. On a bit of a learning curve at the moment.

I've got your lovely template working locally on my mac, but wanting to create a .gitmodule so the theme will update over time and that I can also use the theme content on the live site, (when I eventually get there) .

Each time I try to commit the .gitmodule file up to Git its t

[2019-12-29 02:27] #183 closed

[2019-12-29 02:51] #186 closed

[2019-12-29 02:54] victoriadrake commented on #187
Hi! Can you clarify your process for "publishing to github pages"? Where do you see the error?

[2019-12-29 03:22] victoriadrake commented on #190
Hi Justin! Welcome to the wacky and wonderful world of coding!

It would help me to see the exact error (a copy paste from your terminal is ideal!) but in the meantime, this [answer on Stack Overflow](https://stackoverflow.com/a/49191787) may be of help to you.

Please add the terminal output if you're still having trouble!

[2019-12-29 03:36] #189 closed

[2019-12-29 03:50] victoriadrake commented on #127
Hi! Are you using [code fencing](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks#syntax-highlighting) properly? It should look like this in your markdown files:

[code]

Otherwise, I can be of more help if you link to your repo.

[2019-12-29 04:20] AIRyndon commented on #187
Hello! If I remember correctly, the error pops up on the homepage area - the modals of the projects don't popup.

Because this is my first time using Hugo, I believe I just followed the instructions [here](https://gohugo.io/hosting-and-deployment/hosting-on-github/#github-user-or-organization-pages) to publish to github pages - used a User page I think.

Oh thank you for the awesome work :)

[2019-12-29 06:01] meeDamian commented on #189
Thank you, @victoriadrake! 🥳

[2020-01-03 21:37] ddean6232 commented on #187
same error on two different browsers (FireFox and Chrome) with the "integrity" issue.  I have deployed to Firebase hosting the basic site example.  Any further information on a fix?

[2020-01-03 21:42] ddean6232 commented on #187
what files did you hack?

[2020-01-04 02:04] AIRyndon commented on #187
@ddean6232 its been awhile now so I have forgotten it. Most likely its those four files on my first post, I remember I just looked at the files that were causing the error from Chrome dev tools

[2020-02-11 19:19] SachinPendse opened #194 "Using HTML in the Markdown files"
Hi Victoria,

Thank you so much for making this template --- it's beautiful and I am in the process of learning how to use it. I am trying to customize it a little and have run into some issues that I was hoping you might have some thoughts on.

1. I have tried to use HTML (e.g. adding breaks with <br/>) in the individual markdown files, but whenever I type anything wrapped in an HTML tag, it disa

[2020-02-12 18:03] victoriadrake commented on #194
Hello Sachin, and you're welcome!

1: Which version of Hugo are you running? (Find out with `hugo version`). If it's later than 0.60, you may need to add a [configuration parameter for Goldmark](https://gohugo.io/getting-started/configuration-markup#goldmark). See the setting for `unsafe`.

2 & 3: You can tinker with your site styles by editing the [Sass](https://sass-lang.com/) files - you'll nee

[2020-02-12 19:29] SachinPendse commented on #194
Hi Victoria,

Wow, thank you so much for the quick response. Yes, with regards to 1, that did the trick! And with regards to 2, thanks! I will use that to play around with the formatting. Thanks again!

Best,

Sachin

[2020-02-12 20:05] victoriadrake commented on #194
You’re welcome Sachin!

[2020-02-12 20:05] #194 closed

[2020-02-14 06:07] SachinPendse opened #195 "Hamburger menu does not work after pushing to the Internet?"
Hi Victoria,

Sorry to bother you again, and thanks for all the help. I am astounded by how responsive you are here, and am so appreciative. I am trying to finish up formatting my website and I realized that when the page is small enough that the menu collapses to the hamburger format (such as on mobile), clicking it does not seem to display the menu. You can observe the behavior [here](http://sac

[2020-02-14 06:24] SachinPendse commented on #187
Did that work for you @ddean6232? What exactly did you hack in those files @AIRyndon? The JavaScript/CSS in them is quite daunting! Thanks all!

[2020-02-14 07:40] ddean6232 commented on #187
@SachinPendse I abandon this project. If the developer can't even get involved then its not worth the time. I have labelled it dead code.

[2020-02-14 16:29] victoriadrake commented on #195
Hi Sachin,

This appears to be a different issue from #187. Thank you for the error screenshot, that was very helpful!

The feedback points to a [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) block that appears to be caused by your site domain configuration. My initial suspicion is that `http://sachinpendse.in` is not the same origin as `http://www.sachinpendse.in` due to the subdo

[2020-02-14 16:57] victoriadrake commented on #187
I’ve not been able to reproduce the issue to provide a quick answer. If others are experiencing this, would you please confirm that you’ve followed the [Getting started](https://github.com/victoriadrake/hugo-theme-introduction#get-the-theme) instructions in the README, and are using extended Hugo? (Run `hugo version` to find out.)

If you wish to work around the [subresource integrity](https://goh

[2020-02-14 21:03] SachinPendse commented on #195
Hi Victoria, thank you again for your quick response and your clear passion for educating beginners. It is really really appreciated. I am using Google Domains for the domain, and Github Pages for web hosting.

[2020-02-18 03:18] victoriadrake commented on #195
If you’ve [configured your apex custom domain](https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-an-apex-domain) correctly with GitHub pages, I’m not sure why this would be happening.

Please check the links I mentioned, and let me know if the problem still occurs. If so, you can try the workaround I wrote up in #187 that re

[2020-02-19 22:09] SachinPendse commented on #195
Hi Victoria, thank you so much for your help! It is much appreciated. Unfortunately it appears like the issue is still occurring, even with a couple of different fixes I tried.

I tried using the fix in #187 (changing the CSS file in /layouts/partials/head/css.html to remove the integrity attribute). That did not seem to work, so I replaced all the .js/.css files with CDN versions in the index.htm

[2020-02-19 23:19] SachinPendse commented on #195
Ah I was able to fix it --- turns out I had to

A. Remove the integrity feature from all of the JS/CSS

B. Replace with CDN links

C. Make sure to include the local JS file starting with "bundle.e69..." (but without integrity) which has the hamburger click JS

[2020-02-19 23:45] SachinPendse commented on #195
I disabled integrity in all the files that create the <script> lines as well, and this seemed to fix the issue. I'm still not sure why this would be an issue, but the website works now.

[2020-02-29 15:21] victoriadrake commented on #195
I still see CORS errors in the console for the carousel scripts (that your site isn't using, so no big deal for right now) that I think stem from the `www` in your domain. I'd double check that your domain is consistent across the places you configure it - DNS with Google, the settings tab of your GitHub Pages repo, the CNAME file, and the config file for your Hugo site.

In any case, I'm glad it'

[2020-02-29 15:21] #195 closed

[2020-03-04 08:42] #173 closed

[2020-03-07 00:12] #190 closed

[2020-03-07 00:12] #185 closed

[2020-03-07 00:12] #164 closed

[2020-03-07 00:12] #172 closed

[2020-03-07 00:12] #127 closed

[2020-03-07 00:12] #131 closed

[2020-03-07 00:12] #108 closed

[2020-03-09 19:51] onedrawingperday opened #196 "Theme demo broken on the Hugo Themes website"
Hello again @victoriadrake

Just like the Call Me Sam theme this theme's demo is also broken on the Hugo Themes website due to https://github.com/gohugoio/hugo/issues/7036

To fix please regenerate and commit the theme's resources.

Once you do this feel free to close this issue and then I will update the theme on the Hugo Themes repo.

Thanks.

[2020-03-10 01:23] #196 closed

[2020-03-10 01:23] victoriadrake commented on #196
Done! Thank you @onedrawingperday

[2020-03-22 00:09] #187 closed

[2020-03-29 18:58] TsumaR opened #199 "No "all posts" button using Japanese"
Hi Vicky，Thank you for making such a beautiful theme and I really like the theme you made.
There is a problem that bothers me, it is about the appearance of blog contents at home using Japanese.
Almost the whole text of one blog is displayed, and I don't see 'Read more' and 'All Posts'.
I would appreciate it if you could provide me with a solution.

![スクリーンショット 2020-03-30 3 57 04](https://user-ima

[2020-03-29 20:27] victoriadrake commented on #199
Hello,

I think the reason that the summary is so long is because [Hugo's automatic Summary function](https://gohugo.io/content-management/summaries/#automatic-summary-splitting) shows the first 70 words by default. If it is counting words by using whitespace, that will include quite a lot of text for the Japanese language.

To fix this, I would suggest trying to set `summaryLength` in your [site

[2020-03-30 15:04] TsumaR commented on #199
Dear Vicky,
Thank you for your kind and quick response.
I added `summaryLength` in my configuration and it works perfectly, thank you.
The reason for "Read More" and "All Posts" button did not show up was the lack of adding the `ja.toml` file to the i18n/ folder.
I apologize for the inconvenience caused by my lack of front engineering knowledge.
Best regards,

[2020-04-01 15:14] #199 closed

[2020-04-02 00:32] victoriadrake commented on #199
I’m glad to know it worked! Please do ask if you need any other help.

[2020-04-21 06:12] Mattyfaz opened #202 "Change from /blog/ to /post/"
Hey!
First of all, I love the theme!

I am trying to transition an old Hugo site to this this theme however the old theme used _/post/_ for blog posts, whereas introduction uses _/blog/_.

Is there anyway to modify introduction to use _/post/_?

If I switch over using _/blog/_ any link to my site out on the web will break, causing a pretty negative impact with SEO.

![Screen Shot 2020-04-21 at 4 1

[2020-05-16 06:02] onedrawingperday opened #204 "Please remove device mockups from theme screenshots"
Hello,

Recently the Hugo Themes submission guidelines were updated with the following:

I kindly request that you remove the device mockups. The list is supposed to illustrate the layout of a theme. The mockups do not look particularly good on mobile.

Please let me know once you do the above.

cc: @digitalcraftsman

[2020-05-17 12:17] #204 closed

[2020-05-17 12:17] victoriadrake commented on #204
All set!

[2020-05-17 12:24] victoriadrake commented on #202
Hi there! I'm glad you like the theme!

You can change the URL of your content using [Hugo's permalinks config setting](https://gohugo.io/content-management/urls/#permalinks). To change `blog/` to `post/`, put all your `post` content in the `blog` folder, then add this setting to your `config.toml` (or `.yaml`, or `.json`):

[code]

This would tell Hugo to build your content at `example.com/post/a

[2020-05-17 12:24] #202 closed

[2020-05-20 08:06] Athanasiamo commented on #127
Hi.

Sorry for leaving this, I did not have time to actually fix the issue when I was trying last. Finally had some time to work with it, so this is what I have found so far.

Both I and the original poster are using the R-package blogdown for the website. This is where the issue is arising I believe. Since blogdown renders html, the code-fencing is actually not there for hugo to work with. This m

[2020-05-25 12:06] Athanasiamo commented on #127
in case other blogdowners come here for help, I wrote a blogpost about how to fix syntax highlighting with this theme when using blogdown: https://drmowinckels.io/blog/changing-you-blogdown-workflow/

[2020-05-25 19:33] Athanasiamo opened #206 "owl-carusel not handling having the slug set"
Hi.

On my page I specifically set the slug of posts to be prefixed by post dates, because that makes content easier to keep track of over time.
The Owl carousel unfortunately does not seem to handle the slug being set like that.
While the title, image and date seems to be correct in the carousel, the link to the post is not.

for instance, I forgot to set the slug as I would usually in my newest

[2020-05-31 05:11] hitzhangjie opened #208 "could I add a header.html to customized the <head></head> part?"
Hi, I really like this theme, it's clean and beautiful!

I used it for my personal blog, https://hitzhangjie.github.io.

Well, I want to do some statistics about pv, uv, vv, etc.

I want to embed the statistic code into the <head></head> part, but I couldn't find where I could customize.

[2020-05-31 05:32] hitzhangjie commented on #208
Oh, I find it, partial/head/metadata.html.

Thanks any way.

[2020-05-31 05:35] #208 closed

[2020-05-31 10:15] hitzhangjie opened #209 "does `introduction` theme supports TOC?"
Hi, I want to display the TOC for the posts.

so I added `{{ .TableOfContent }}` into the `single.html` template.

Indeed, the page displays the TOC content, but I want the TOC content to be displayed as a sidebar, and support indent, auto numbering, scrolling.

I don't know how to implement this.
Could we support this TOC style, or partly support this? Really need this feature.

Thanks.

[2020-05-31 17:16] victoriadrake commented on #206
I'm afraid I don't see what you're describing. I don't see a difference between your newest post and the one you linked.

The carousel code in this theme is currently used on pages in the projects section. Do you mean something different, perhaps?

[2020-05-31 18:59] Athanasiamo commented on #206
Maybe I'm misreading the code somewhere. I mean at the bottom of a post, before comments section, there is a carousel for other "related" posts. These do not correctly link to posts where slugs are set differently from default.

![image](https://user-images.githubusercontent.com/14014329/83360414-807ce980-a381-11ea-8ee2-367e11f6c5bd.png)

[2020-06-02 18:12] stephenplatz opened #210 "CSS build issues"
I thought I'd open an issue here, although I'm not sure if this could actually be related to https://github.com/gohugoio/hugo/issues/7278#issue-618943431. In any case, I'm still getting the `POSTCSS: failed to transform "css/main.css"` error when I try to build the site, despite making sure all of the dependencies in the documentation are installed.

I'm not actually using a snap installation of H

[2020-06-04 19:16] #209 closed

[2020-06-05 03:29] Ckln opened #211 "Feature request: dark\light user switch"
Hey there,

Thanks for theme I really appreciate it,
I do not know much about css and sass or less or anythings related to CSS.

But I was wonder if there is any plan going on for enable the user to being able to switch on the fly dark and light them ?

[2020-06-07 21:06] marceljay commented on #183
Not sure what was wrong, but now it works.

[2020-06-08 22:33] mijorus opened #212 "Vertical Images are stretched in the preview"
And you cant scroll once you open them

[2020-06-08 23:53] victoriadrake commented on #212
Hi there. Could you be more specific about where this is happening? I’m not seeing what you’re seeing.

[2020-06-09 08:00] mijorus commented on #212
sorry, yesterday I didn't explain the problem properly.

When you upload a picture in the projects which is not 3 by 2, the thumbnail gets stretched and, if the image is vertical, once I open the project It does not allow me to scroll (it zooms in to the top-part of the pic).

Using the inspector I found there are some CSS classes for more ratios that will fix the stretched previews, but I couldn'

[2020-06-09 08:08] mijorus commented on #212
![image](https://user-images.githubusercontent.com/39067225/84122479-c6e4df00-aa38-11ea-8de6-2f3011007501.png)

This is an example of the zoomed-in picture I was also talking about. The image is higher than the viewport but it does not allow me to scroll. Although there is a description below, on a 16:9 display I cant scroll down to read it

[2020-06-10 09:22] Athanasiamo commented on #206
Hi.

After quite some digging, I found that this carousel comes from the diqsus comment section.
This is a new feature they have they call "Recommendations", and it does not handle url changes well. I had to make a csv mapping old and new urls after bundling my posts:
https://help.disqus.com/en/articles/1717068-migration-tools

The recommendations can also be turned off in the disqus admin panel.

[2020-06-10 09:22] #206 closed

[2020-06-13 17:36] victoriadrake commented on #211
Hello! I’m glad you like the theme!

I’m not building this feature at the moment, but it’s a great suggestion and contributions are always welcome!

[2020-06-14 18:42] victoriadrake commented on #212
Closed by #214

[2020-06-14 18:42] #212 closed

[2020-06-16 06:51] DanielHouston opened #217 "Using Font Awesome in content"
Firstly, thank you for an awesome theme.
I'm (very) new to Hugo and not skilled at web development, but from what I can make out Font Awesome is included within the theme as it's used for the social partial, right?
Is there a way I can reuse the same Font Awesome svgs within the content of posts? I have tried to create a shortcode which expands to a span, but wasn't able to get it to appear within

[2020-06-17 22:12] gray419 commented on #210
I'm getting this error also. I've created a new hugo site and added this theme as a submodule. I'm able to serve locally, but not able to build.

My environment:
- node v12.18.1
- Hugo Static Site Generator v0.72.0/extended darwin/amd64 BuildDate: unknown

[code]

[2020-06-17 22:34] gray419 commented on #210
Ok nvm I was able to fix this by reading this [post](https://discourse.gohugo.io/t/postcss-transform-error/24929/2). I ran these two commands and I was able to build:

`sudo npm i -g postcss-cli`
`sudo npm i -g autoprefixer `

[2020-06-21 14:52] desirajusantosh opened #218 "Blank squares for icons"
![Screenshot from 2020-06-21 07-44-04](https://user-images.githubusercontent.com/3741040/85227556-13aeab00-b393-11ea-834b-a8e7f9b26574.png)
I thought to open an issue here: hugo server and hugo -D leading to icons showing up as blank squares - as seen in screenshot.
Has anybody else faced this issue?

[2020-06-21 17:54] victoriadrake commented on #210
Thank you for sharing @gray419!

[2020-06-21 17:54] #210 closed

[2020-06-21 18:11] victoriadrake commented on #217
Hi there @DanielHouston! Worry not, all questions are welcome. :)

Font Awesome free is bundled, yes. Here's how to use the icons: https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use

To ensure Hugo renders the HTML that Font Awesome uses in posts, make sure these lines are in your `config.toml`:

[code]

If your shortcode renders HTML, that may be your missing piece! Please

[2020-06-21 18:29] victoriadrake commented on #218
Hello @desirajusantosh! The CSS will render differently if you're using the server; here's the code in question: https://github.com/victoriadrake/hugo-theme-introduction/blob/master/layouts/partials/head/css.html

If you'd like to share the HTML being rendered in your screenshot there (inspect element on one of those icons will do) I may be able to help further.

[2020-06-21 19:14] desirajusantosh commented on #218
Thanks for quick response! This is what I see when I inspect: I earlier had "fab fab fa-twitter" but I changed that to "fab fa-twitter".
<a href="https://twitter.com/">
        <i class="fab fa-twitter"></i>
    </a>

Here's a quick link to what I have so far: https://github.com/desirajusantosh/santoshdesiraju.github.io/ Please suggest if I'm off somewhere.

[2020-06-21 19:38] victoriadrake commented on #218
This may be related to #203. It’s necessary to set your `.icon_pack` in the site config.

I don’t see a config.toml in your repository; do you have that set up?

[2020-06-21 19:46] desirajusantosh commented on #218
Thank you. Yes, I previously pointed you to the rendered site. But, here is the complete repo: I have the config.toml here - https://github.com/desirajusantosh/santosh/blob/master/config.toml

[2020-06-21 21:06] DanielHouston commented on #217
Fantastic! That worked exactly as expected after the `config.toml` additions. Thanks!

[2020-06-21 21:06] #217 closed

[2020-06-21 23:56] victoriadrake commented on #217
You're welcome!

[2020-06-22 12:39] christian-heusel opened #219 "HTML tags in the title"
Hey, let me start off by thanking for this awesome HUGO theme! :heart:

##   :exclamation: The Problem :exclamation:
If you have a title using markdown (i.e. "_Long_ forum post") This renders to
[code]
Would it be possible to strip that off?

Cheers,
Chris

[2020-06-22 14:39] victoriadrake commented on #219
Hello Chris! You're welcome.

It's not possible to have the post page render the formatting without the HTML. Do you mean to ask about stripping it in another place?

[2020-06-22 14:49] victoriadrake commented on #218
Thank you for the link! I wasn't able to reproduce this issue with an identical config:

[code]

The HTML I see rendered when using Hugo server is `<i class="fab fab fa-twitter"></i>`.

Would you ensure you're using the most current version of the theme, then let me know if this still occurs?

[2020-06-22 15:06] christian-heusel commented on #219
I mean yeah, this looks right:
![image](https://user-images.githubusercontent.com/26827864/85303184-75156d80-b4aa-11ea-972f-a165aad622a2.png)
But this does not really look like wanted behavior in my opinion
![image](https://user-images.githubusercontent.com/26827864/85303269-8d858800-b4aa-11ea-924a-fc5650da440e.png)

[2020-06-22 17:00] victoriadrake commented on #219
Ah, I see what you mean now. The HTML tags are showing up in the page title.

I'll change the page title to not render Markdown to HTML tags, however, I think you'll still see the Markdown formatting:

![Screenshot_20200622_115813](https://user-images.githubusercontent.com/24644237/85314968-3e2e6000-b488-11ea-93fd-5ae633f416c5.png)

I'll have to think about how I could remove that without accident

[2020-06-22 17:09] desirajusantosh commented on #218
Thanks. I've retried with latest version of the theme. Its all fine until I build using hugo -D and then subsequently use github pages. That's when its failing to show icons:
Here is the latest attempt: https://github.com/desirajusantosh/me
which is showing `<i class="fab fab fa-twitter"></i>`

[2020-06-22 17:45] victoriadrake commented on #218
I noticed you're using a few different repositories -- you may need to ensure that your `baseURL` in config.toml is correctly set.

[2020-06-22 19:27] desirajusantosh commented on #218
Yes, config.tml has the correct baseURL. The github pages shows up but its without icons, that is all - like this: https://desirajusantosh.github.io/me/
Github pages is building from docs folder and the docs folder has been built using: HUGO_THEME=introduction hugo --gc --minify --themesDir ./themes/ -v -d ./docs

[2020-06-22 20:05] victoriadrake commented on #218
I did notice on your site that the font is trying to load from your URL, but without the `/me/` part of the path:

![Screenshot_20200622_150022](https://user-images.githubusercontent.com/24644237/85330083-b5bcb900-b4a1-11ea-9c99-44bc21e83827.png)

However, I'm still unable to reproduce this behavior.

[2020-06-24 11:59] eauchat commented on #210
Hello, I'm having the same issue, using the theme via gitlab-ci.
Would anyone have a suggestion on how the issue could be solved in that context. I don't know if the solution proposed by @gray419 can be applied in such docker environment.

[2020-06-30 15:30] mike-foucault commented on #210
@eauchat , I fixed the same issue by adding a package.json file, with the following content :
`{
  "name": "netlify-deps",
  "version": "0.1.0",
  "dependencies": {
    "postcss-cli": "7.1.1",
    "autoprefixer": "9.8.4"
  }
}
`

I did not try with gitlab-ci, I use netlify. By default, Netlify runs npm install to install the dependencies listed in my package.json file. So, if you configure your CI

[2020-07-09 13:45] iLikeHajk opened #221 "Swedish translation"
Hello!

Thanks for a great theme. In accordance with your guidlines I'm starting with an issue. I've done a Swedish version of the .toml-file in /i18n/. A PR will follow. I hope I do this right, it's my first contribution to anything on GitHub ever. :)

Regards,
Eriq

[2020-07-10 00:11] victoriadrake commented on #221
Hello Eriq! Thank you very much for the translation, and I'm flattered you picked this project for your first contribution! 😄 Welcome to the wonderful world of open source!

[2020-07-10 00:13] #221 closed

[2020-07-13 13:15] tonitassimo opened #223 "No content on netlify"
Hey there :)

First of all I want to thank you for your theme! I just tried it and it works great on my machine.
![localhost](https://user-images.githubusercontent.com/29860675/87307153-65250280-c519-11ea-92f5-1c3daae18a8e.png)
I then tried to deploy the initial site to netlify, which is connected to my github account. It says that no errors occured and the site got published. However there is (ne

[2020-07-13 13:55] #223 closed

[2020-07-13 13:56] tonitassimo commented on #223
Nevermind. Was my own fault! :)

[2020-07-14 01:42] victoriadrake commented on #223
Glad you got it figured out! 😁

[2020-07-16 02:00] henrylu93 opened #224 "Typo: "Project" vs "Projects" in menu"
Using the default menu, the main page shows "Projects" in the menu. If I navigate to /blog/, the menu shows "Project" without the s. Can this be changed to display "Projects" consistently? Thanks very much to Victoria and other contributors for this theme.

[2020-07-20 05:24] linhtto opened #225 "Unable to customize layouts"
I copied the folder `/themes/introduction/layouts` to the root folder and edited it with no effect. Editing directly within the theme works.

Given that Hugo allows this type of customization, I'm wondering what's going on?

[2020-07-20 07:46] linhtto opened #226 "Allow for content to use markdown with HTML5?"
I'm particularly interested in the feature where you can add [collapsible content](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d).

Is this possible? Thanks!

[2020-07-20 20:43] linhtto commented on #226
To answer my own question:

- To add HTML directly, one needs to change `config.toml` to add

[code]
- The alternative option is to use shortcodes. However, I once again cannot just add shortcuts to `/layouts/shortcodes` in my own directory (as instructed by [Hugo](https://gohugo.io/templates/shortcode-templates/)) and I'll have to modify the themes folder directly (in `layouts/shortcodes`). This

[2020-07-25 13:41] victoriadrake commented on #226
Thank you for posting the answer, @linhtto! I'm adding a post to the exampleSite to hopefully make this clearer. I'll respond to your other issue separately.

[2020-07-25 13:41] #226 closed

[2020-07-25 14:02] victoriadrake commented on #225
Hi @linhtto! Thank you for posting this well-written issue!

I was not able to reproduce the problem when I created my own custom layouts directory in the site root. Here's what the site directory structure looks like:

[code]

Would you confirm if this matches yours?

[2020-07-25 20:53] linhtto commented on #225
Thanks! I'm not sure how but it's working for me now. Sorry for the false alarm.

[2020-07-26 03:11] victoriadrake commented on #225
No worries! I’m glad to hear it!

[2020-07-26 03:11] #225 closed

[2020-07-28 10:59] osterchrisi opened #227 "Problems with CSS"
I am having trouble getting the page to build. I always get the following error:

[code]
I absolutely feel it has something to do wint the postcss-cli and autoprefixer modules but also I think I have them installed locally (in the page directory) in the correct version. I am struggling to install them globally in the correct version though. This is me locally as the building user listing the modul

[2020-08-01 20:02] hitzhangjie commented on #108
I tried this, it not works.

@hanzei I check the newest version, this problem still exists.

[2020-08-01 20:41] hitzhangjie commented on #108
Hi, @hanzei, I fixed it.

[code]

[2020-08-01 22:48] victoriadrake commented on #108
Resolved in #228

[2020-08-01 22:56] victoriadrake commented on #227
Hi there! Could you explain what you mean about "struggling to install them globally in the correct version"? If you run `npm install -g autoprefixer postcss-cli` to install these packages globally, what happens?

[2020-08-02 08:51] linhtto opened #229 "Small clean up of extra fonts and unused variable"
I can work on a small Pull Request for the following small clean-ups if that's okay:

- The FA fonts in the outer `/static/fonts` folder are unused (the versions that are actually used are in `/static/fonts/fontawesome-free`).

- The base variable `$title-weight` in `/assets/sass/_base_variables.sass` is unused. I believe it's meant to be used in `/assets/sass/_base.sass` to change the font-weight

[2020-08-02 15:14] osterchrisi commented on #227
Thanks for your input, this might have nudged me towards the correct direction already. I ran your command via _sudo_ before and therefor running it as my "normal" user gave me:
[code]
I checked and this was due to the fact that the _autoprefixer_ directory and everything below (same is true for the postcss-cli directory) was owned by my root user - makes sense since it was that user that installe

[2020-08-02 22:09] pandaero opened #230 "About image frame reshaping"
I want to make the image that comes up in the about (in the example the image of a cup of coffee), to have rounded edges. I think I can accomplish this using a `border-radius` property for the image, but I am very new to this and don't know how to translate that into the front matter or wherever else it needs to go to be implemented. Any help?

Thanks,

[2020-08-02 22:58] victoriadrake commented on #229
That would be great! Thank you!

The two base variables you mentioned should be used. Would you put them into use in the appropriate places? Yes, `$title-weight` is meant to be the font-weight for titles.

`$family-monospace` is supposed to be a monospace font. The default available one is fine, or if you have one you'd like to bundle I'd be up for that suggestion.

[2020-08-02 23:04] victoriadrake commented on #227
It may be necessary to get the optional dependencies. I haven't seen this behavior before with the global installation, so I regret I can't tell you for sure.

In the meantime I'm leaving this one open for help wanted in case others have more to contribute!

[2020-08-03 07:55] osterchrisi commented on #227
Okay, too bad! The optional dependency seems to be an issue with my operating system, so I think I won't be able to change that :P But thank you anyway for your efforts Victoria, I appreciate it. If anyone else can help here, thank you too!

[2020-08-03 23:21] victoriadrake commented on #230
Thank you! That was helpful. My confusion was because this issue was opened in an unrelated repository. I'll transfer it to my Introduction Hugo theme repository, which is where I think you meant it to go.

To answer your question, yes, you can change the shape of the image border with the `border-radius` CSS property. The coffee cup picture in particular has the class name `avatar`, so you can se

[2020-08-04 03:28] linhtto commented on #229
I submitted the Pull Request. While I was at it, I upgraded Bulma as I would like to use some of their new variables. Thanks!

[2020-08-04 03:31] linhtto opened #232 "Allow for Custom JavaScript files"
I have some shortcodes that will require Javascript. In my website version, I edited the layouts files to allow for a `customJS` file the same way `customCSS` is allowed.

I'm opening this issue so that I can submit another pull request to add this feature to the theme. Thanks!

[2020-08-04 04:18] pandaero commented on #230
Oh, thank you! I guess I'll go back to scratching my head knowing it can be done within what's provided. :smiley:

[2020-08-06 01:35] #229 closed

[2020-08-06 01:37] victoriadrake commented on #230
You're welcome! I personally find the MDN docs helpful, here's the one for `border-radius`: https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius

Good luck on your coding journey!

[2020-08-06 01:37] #230 closed

[2020-08-06 16:45] haban3ra opened #234 "Using custom local/Google fonts"
Hi! I don't know if this is the right place to ask for help but I wanted to use custom fonts either by local or Google fonts.
How should I change it?
I have tried installing the font locally in the `static` > `fonts` folder and modifying the SASS `_fonts` file from the ` assets` folder but I can't seem to make it work. Ideally, I just wanted to change the font for the body but leave the original f

[2020-08-07 04:41] linhtto commented on #234
You also need to change the variables in `_base-variables.sass`.

[2020-08-07 06:04] beetlejuicegalactica opened #235 "Adding authors and multi-authors to blog posts"
I'm having a hard time adding authors/multi-authors on my blog posts.  I've created an `_index.md` on the `authors` folder on `content `and added `author` taxonomy on `config.toml`. Also, I want to create a dedicated page for each author that lists all their articles.
This is my first time using Hugo, I'm sorry.
What to do next? Help?

[2020-08-08 14:52] #232 closed

[2020-08-08 15:25] victoriadrake commented on #235
Can you be a bit more specific about what you're seeing and how that differs from what you expect to see?

Creating the file with path `content/authors/_index.md` will create a section in your site with the URL `http://example.com/authors/`. You'll want to ensure there is [front matter](https://gohugo.io/content-management/front-matter#readout) in `_index.md` and that one of the lines is `draft: f

[2020-08-08 15:34] victoriadrake opened #236 "Taxonomies ignored in blog post pages"
Potentially related to #235, it does not appear that the `single.html` page template for blog posts will display taxonomy names that aren't `tags`:

https://github.com/victoriadrake/hugo-theme-introduction/blob/2263cdb0fa5664393f192d872c1d1f6196c6d684/layouts/blog/single.html#L45

Hugo supports any [user-defined taxonomy](https://gohugo.io/content-management/taxonomies#what-is-a-taxonomy). The the

[2020-08-08 19:30] thegreatluke opened #237 "How to add additional blog summaries to the home page?"
I'm trying to figure out how to add additional blog summaries to the home page.

I copied the theme's "list.html" to my site_root/layouts/blog/list.html" and edited the line:
`{{ range first 1 .Pages.ByPublishDate.Reverse }}`
to `{{ range first 3 .Pages.ByPublishDate.Reverse }}`

My thought was that would tell hugo to loop through the first 3 posts...? But that doesn't seem to work.

Any suggestio

[2020-08-08 19:31] thegreatluke commented on #237
Ok so making that change sort of emphasized the first 3 posts on the "blog" page - That's ok.

I added the same file to my layouts/home thinking that would do the trick... but nope.

[2020-08-08 19:45] thegreatluke commented on #237
Ok - So I apologize for opening this so quickly and then figuring it out on my own...

Here is what you have to do in case anyone else is curious -

create a directory

/my_site/layouts/partials/home

Add blog.html to that directory

make the edit to the range line that I listed above.

Sorry for opening an easy issue. :)

[2020-08-08 19:45] #237 closed

[2020-08-08 21:33] victoriadrake commented on #237
I’m glad you figured it out, Luke!

If anyone wants to submit a PR for a configurable number of blog summaries on the home page, I’d be open to that idea! 👍

[2020-08-09 13:15] thegreatluke commented on #237
I’m very new to hugo and static site generators in general but I’ll take a shot at it.

[2020-08-10 00:21] thegreatluke opened #238 "change meta description based on description in front matter"
I'm working on an issue that would allow the meta description to change based on the front matter of the current page. Or fall back to the site params description.

[2020-08-10 00:33] thegreatluke commented on #238
created pr #239

[2020-08-10 14:09] #234 closed

[2020-08-10 19:27] thegreatluke commented on #236
I'll take a look at this one. Do I have to do anything specific (other than comment) to let others know someone is working on this?

[2020-08-10 23:18] rockrgrrl commented on #223
@tonitassimo I had a similar issue. How did you fix it?

[2020-08-10 23:50] victoriadrake commented on #236
Nope, all good! Thank you for taking a look!

[2020-08-13 19:24] thegreatluke commented on #224
I sent a pr that I *think* fixes this issue. I'm still learning my way around all the in's and out's of how this works.

[2020-08-15 18:58] victoriadrake commented on #238
Closed with #239

[2020-08-15 18:58] #238 closed

[2020-08-15 20:04] victoriadrake commented on #224
Closed in #241. Thank you @thegreatluke!

[2020-08-15 20:04] #224 closed

[2020-08-18 00:33] #219 closed

[2020-08-25 18:44] Tom-Willemsen opened #242 "Update jQuery"
jQuery is out of date (using 3.3.1, latest is 3.5.1). This causes warnings in e.g. https://web.dev/measure/ as there are published vulnerabilities in older versions.

[2020-08-30 00:12] #242 closed

[2020-08-31 03:01] dilinie-seimon opened #244 "Problem with CSS"
Trying to install the theme using Rstudio 'blogdown' package, but styling is not applied through the build

[2020-08-31 03:09] #244 closed

[2020-08-31 12:02] victoriadrake commented on #244
Hi there. Did you find a solution on your own?

[2020-09-03 00:29] irhuru opened #245 "project preview not showing"
Hi!

I have created a personal website and I have an issue with the "projects" section:

When I go to my list of projects in the main page, the project preview doesn't open. This means that in order to read the description of a project, my only option is to click on "all projects" and then open the project from there.

The thing is that this works perfectly fine when I use `hugo server` from my te

[2020-09-05 02:00] dannie-ml commented on #210
i've already done all your solutions and not worked for me ;(

[2020-09-05 14:32] victoriadrake commented on #210
@dannie-ml If you provide some error feedback, information about your set up, or a link to your site repository, we can try and help! 😄

[2020-09-05 15:37] victoriadrake commented on #245
Hi Irati! When I visit your site I see this in the console:

[code]

How are you configuring your site address? Does your `config.toml` file have `https://` in the `baseURL`?

[2020-09-05 17:50] irhuru commented on #245
I just realized there was a typo in that file!

Thanks 👍🏼

[2020-09-05 17:50] #245 closed

[2020-09-06 15:53] victoriadrake commented on #245
You're welcome! Glad you got it sorted out.

[2020-09-08 00:39] #227 closed

[2020-09-13 00:41] #235 closed

[2020-09-21 00:42] #211 closed

[2020-09-24 01:15] thegreatluke commented on #236
Created PR #248

[2020-09-24 01:44] thegreatluke opened #249 "Remove Google Plus Share Buttons."
Google plus has been shut down, we should remove the share buttons from the theme.

[2020-09-24 01:47] thegreatluke commented on #249
I think I know all the places in the project to remove Google Plus if you want me to go ahead with this.

[2020-09-24 09:12] timpauli opened #250 "image transformation"
Hi,
first of all thanks for working on this theme!

The image one uses in the about section gets transformed.
It gets rescaled and the quality drops to 75 percent I think.
Is it possible to influence this process?
Because for my taste the quality gets sometimes a bit too bad.

Thank you very much.

[2020-09-30 00:23] victoriadrake commented on #249
Please feel free! Thank you again!

[2020-09-30 00:31] victoriadrake commented on #250
Hello Tim!

Yes, you can change this behavior. The image is transformed by the [Resize image processing](https://gohugo.io/content-management/image-processing/#resize) on line 75 of the `index.html` template file:

https://github.com/victoriadrake/hugo-theme-introduction/blob/193dc1a0d39afe05710ae5843ef70e5a131407b2/layouts/index.html#L75-L77

You may override this by copying the theme's template

[2020-09-30 00:31] #250 closed

[2020-09-30 11:59] eauchat opened #251 "Didn't manage to have images in blog posts"
I don"t know if this a mistake from mine, a bug, or a feature request, but here it is:

**Is your feature request related to a problem? Please describe.**
I was trying to put images in blog posts, but didn't manage.

I tried the two following ways:
*(in both examples, I have put an image named `image.jpg` in a `/content/blog/assets/` directory)*

### Using the metadata section in top of blog posts

[2020-10-02 02:29] victoriadrake commented on #251
Hello!

I suspect that part of the issue is your image file path, which would be relative to your blog post and not the site root. For example, if your post is located at `https://example.com/blog/post-title/`, then the image file path as you've written it will be `https://example.com/blog/post-title/assets/image.jpg`. I suspect this is not what you meant to do.

If you instead add a `/` to the be

[2020-10-02 22:16] eauchat commented on #251
Thank you @victoriadrake for the detailed explanation.
Indeed it was a problem of path to the image, I think it was due to a space in the image file name.
The file was in `blog/images/some file.png` and using `![description](/blog/images/some file.png)` wouldn't work.
I moved it to `blog/assets/some_file.png` and used `![description](/blog/assets/some_file.png)` and it worked fine.

Thanks again f

[2020-10-02 22:16] #251 closed

[2020-10-11 23:48] #236 closed

[2020-11-01 15:22] ParagRaut opened #253 "Page is not responding/scrolling when clicking back from individual project"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
When you have more than 3 projects, you seee option to see All Projects

you click on that > you see individual projects > you click on project > you click back on browser > page is unable to scroll

**Expected behavior**
After clicking back page should be interactable and sc

[2020-11-01 15:31] ParagRaut opened #254 "Blog title is not rendered correctly (not sure if bug)"
**Describe the bug**
This can be seen between 2 different versions of example website running on
1. Hugo demo site
2. Netlify demo website

**To Reproduce**
Steps to reproduce the behavior:
if you check the Hugo demo website and goto blog sections you see black header

![image](https://user-images.githubusercontent.com/16030809/97807147-71b39f00-1c5f-11eb-9cd5-a83b3880e132.png)

and if you go to n

[2020-11-06 13:19] victoriadrake commented on #249
We should still do this.

[2020-11-07 12:34] ParagRaut opened #256 "Hamburger menu in both dark and light theme have incorrect color"
**Describe the bug**
When site is in mobile view hamburger color is rendered incorrectly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to example site in mobile view
2. Check color of hamburger

**Expected behavior**
Hamburger color should be equal to $primary of both light and dark theme
Right now it is incorrecly shown

**Screenshots**

**Current state:**

Light theme:
![Screenshot 20

[2020-11-08 23:17] Beatso opened #258 "Netlify build failing"
My repo: https://github.com/Beatso/Website
Link to full debug log: https://hastebin.com/raw/fazameyebu
I am trying to build my site on Netlify, and it is failing to deploy. The log has an error message `POSTCSS: failed to transform "css/main.css"`, but I couldn't use `npm i` like you said on the readme, as I can't use the Netlify console. It builds fine locally.
I have added a [package.json](https

[2020-11-08 23:22] #258 closed

[2020-11-08 23:22] Beatso commented on #258
(i accidentally opened this in the wrong repo)

[2020-11-09 01:43] #256 closed

[2020-11-09 01:43] #254 closed

[2020-11-09 01:56] ParagRaut commented on #253
It happens when you quickly try to interact with web page before it finished loading. So marking it as false positive and closing it

[2020-11-09 02:06] ParagRaut commented on #253
After little more investigation I found out if viewport is at 100% then it is still unresponsive, only after you pinch to zoom a little it becomes responsive again

[2020-11-13 13:21] Eclectikus opened #259 "The navbar-burger button not working"
**Describe the bug:**

`navbar-burger` button not working

**To Reproduce:**

Steps to reproduce the behavior:

1. Go to the homepage <https://nosolodatos.netlify.app/> from a mobile device or alternatively, click `F12` and use the mobile device emulator
2. Click on `navbar-burger` button

**Expected behavior:**

The navigation menu is shown

**Actual behavior:**

The navigation menu is not shown,

[2020-11-13 19:57] ParagRaut commented on #259
Before putting an issue, can you please check once if vanilla theme (eg. example site) renders correctly in both web and mobile view on your local ?

[2020-11-13 20:32] Eclectikus commented on #259
Hi, actually I'm running [another site](https://buscosint.netlify.app/) with similar configuration and works as expected. It must be something specific but I have been unable to find the glitch. Thanks.

[2020-11-13 20:32] ParagRaut commented on #259
Seems like checksum (integration) issue with scripts. When you load your site you can see that javascripts for your site are not loading. and that might be an issue as clicking hamburger needs to target navMenu.

Refer this:
<img width="825" alt="Screenshot 2020-11-13 at 21 28 57" src="https://user-images.githubusercontent.com/16030809/99118295-8f85ea00-25f7-11eb-9692-74cdefa3a184.png">

please re

[2020-11-13 20:55] Eclectikus commented on #259
Thank you. I have been using `blogdown:::serve site()` all along and the bug hasn't disappeared. I will build the site (`blogdown::build_site()`) following [this guide](https://bookdown.org/yihui/blogdown/local-preview.html), and will let you know if it's worked. Thanks!

[2020-11-13 21:20] ParagRaut commented on #259
Hope it works

[2020-11-14 08:21] Eclectikus commented on #259
I have rebuild the site both via `blogdown:::serve site()` and from the CL (command `hugo`) with no avail. Something is wrong with my site, and it's probably my mistake rather than Hugo's or theme error. I leave the issue open in case someone has had the same problem or have any clue to fix it.

[2020-11-14 08:55] GITchristoph opened #260 "Icons don't show in Demo and on example page"
Hello Victoria

Thanks for the nice theme.
I would like to use it to start working with Hugo.

There seems to be one issue with the demo and the example page, which is that the favicons don't show up.
When you open the demo page, then you will see directly that the favicons for twitter, linkedin etc. right below "I'm a theme for Hugo"don't show up.
https://themes.gohugo.io/theme/hugo-theme-introdu

[2020-11-14 16:28] GITchristoph commented on #260
Hi - I just received some support on the hugo-foums.

When opening the Demo file in Chrome, the error message in the developer console is this:

I have the same on my page as well:

How can I fix this?

[2020-11-14 16:49] GITchristoph opened #261 "Help Appreciated :-) Remove frame/shadow around image"
Dear Viktoria

I have one question. I would be very grateful if you could help me with it, but obviously I know this is not your job.

How could I remove the shadow aorund the images (e.g. on the "About" section).
Please see below.

I found in the Google debug console that I probably have to change something for the "img-responsive avatar", but I have no idea which css I file I should edit. There

[2020-11-14 17:17] RashikShahjahan commented on #260
@GITchristoph , the mixed content issue was fixed after I changed the url on the config.toml file from example.com. I still couldn't fix the favicon issue though. Let me no if you have any progress on that.

[2020-11-14 17:52] GITchristoph commented on #260
@RashikShahjahan , I could not figure out how to fix this myself yet. I am also a newbie to this in general and I am not sure yet how to start looking for the issue.

[2020-11-14 17:59] GITchristoph commented on #261
Hi

What I tried to do is to uncomment customCSS and to add the path to it:

![image](https://user-images.githubusercontent.com/4885236/99153821-37102480-26ab-11eb-8134-1f1c8e64fd60.png)

and then to add into assets/css/custom.css for .img-responsive that box-shadow: none:

![image](https://user-images.githubusercontent.com/4885236/99153830-560eb680-26ab-11eb-8000-57a3fdbe3220.png)

But this doesn

[2020-11-14 18:04] GITchristoph commented on #260
@RashikShahjahan

Could it have something to do with this inside style.sass?
What do you think?

[code]

[2020-11-14 19:30] GITchristoph commented on #261
Ok, I sorted it.

I copied and pasted the complete sass files from the template to the custom css folders.

Then it works.

Juhuu!

[2020-11-14 20:00] victoriadrake commented on #261
Glad you got it figured out! For the future, one probable reason your `custom.css` file didn't work is that you'd written with Sass syntax instead of CSS.

[2020-11-14 20:07] GITchristoph commented on #261
@victoriadrake
Thanks. To be honest I don't know the difference between sass and css.

May I ask out of curisoity how you write this part in css (instead of sass)?
Maybe based on that I can find an even better solution.

[code]

[2020-11-14 20:44] victoriadrake commented on #259
Hello! I noticed this difference in your URLs may be causing the [subresource integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) error:

![Screenshot from 2020-11-14 15-39-16](https://user-images.githubusercontent.com/24644237/99156583-fb1b9600-268f-11eb-9ad9-ed71b5ae8059.png)

Perhaps you can update the URL of your site in your `config`.

If that is not a solu

[2020-11-14 20:46] victoriadrake commented on #261
I believe [this explanation](https://stackoverflow.com/a/46400867) can help!

[2020-11-14 20:50] GITchristoph commented on #261
Cool, thank you!

[2020-11-14 20:54] GITchristoph commented on #261
What's strange is that when I deploy the side with `Hugo server -D` or with `-b https://test.mysite.com" and upload it to my server, then it does not take the custom css into account and the icon don't show.

It looks perfect when running the server with `hugo server -D` on my Macbook and accessing with http://localhost:1313

Could you imagine why ?

This might also be the solution for the "issue"

[2020-11-14 21:09] Eclectikus commented on #259
Hi @victoriadrake, YES! Quick and to the point, the URL's difference did cause this glitch, just changing TOML configuration fixed the error. Thanks SO MUCH!

[2020-11-14 21:15] victoriadrake commented on #259
Glad to have helped! Enjoy the theme!

[2020-11-14 21:15] #259 closed

[2020-11-14 21:17] victoriadrake commented on #261
Is there any console output? Could be a situation similar to #259 ?

[2020-11-14 21:31] GITchristoph commented on #261
I checked again and the domain is correctly stated in the baseURL

`baseURL = "https://test.mysite.com/"`

So it shouldn't be connected.

Could it have to do with the icons not showing issue  (I opened that a bit earlier today)?

The icons are also not appearing on https://themes.gohugo.io/theme/hugo-theme-introduction/

[2020-11-14 21:58] GITchristoph commented on #260
I can see the thumbs up but I unfortunately do really not know what I should do next, sorry! :-)

[2020-11-15 14:39] ParagRaut commented on #260
You can put favicon under static/img/favicon.ico for example and reference it like this in config.toml

[params]
    themeStyle                   = "light"                  # Choose "light" or "dark"
    favicon                      = "/img/favicon.ico"       # Path to favicon file
    showRSSButton                = false                    # Show rss button in navigation

[2020-11-15 14:41] ParagRaut commented on #260
Also try to do hard refresh (ctrl + F5 on windows for example) so it can load fresh assets

[2020-11-15 15:30] GITchristoph commented on #260
Hi @ParagRaut
Thanks for your answer. I explained the issue badly (I edited the issue name).
The favicon is actually ok.

What's the issue are the icons from twitter, facebook, etc.
They don't show when opening the Demo Link:
https://themes.gohugo.io/theme/hugo-theme-introduction/

Please see also picture below with what I mean.

<img width="328" alt="image" src="https://user-images.githubusercont

[2020-11-15 15:33] ParagRaut commented on #260
True, I observed this as well. I think it is not propely hosted or something, but if you go to netlify app for same theme there you will see everything rendering correctly. https://hugo-introduction.netlify.com/

[2020-11-15 15:37] ParagRaut commented on #260
I see the config.toml might have different base url, that's why modern browser does not let assets load
Refer this in your dev console when you go to hugo demo site
<img width="687" alt="Screenshot 2020-11-15 at 16 35 53" src="https://user-images.githubusercontent.com/16030809/99189299-d3483300-2760-11eb-9bdb-1a7e17478523.png">

[2020-11-15 16:17] GITchristoph commented on #260
Hi @ParagRaut
Yes, that is what I posted in my second message in this thread as well (please see above).
I don't know how to fix this.

[2020-11-20 04:22] RashikShahjahan commented on #260
@GITchristoph , any luck?

[2020-11-20 06:55] GITchristoph commented on #260
@RashikShahjahan
Hi, I am sorry, I did not know that someone was waiting for me.
I checked it already and I know, that my base URL settings are correct. That’s why I highlighted it a couple of posts above already. Because although the base URL is correct, even in the demo page the same error occurs

Does that make sense?

[2020-11-20 11:21] victoriadrake commented on #261
#260

[2020-11-20 11:21] #261 closed

[2020-11-20 11:32] victoriadrake commented on #260
@GITchristoph I can see the problem in the demo site, and I just made a fix for it. Please pull the theme again.

If this does not help you, would you be able to share your repository with us so we can try to diagnose the issue further?

[2020-11-20 12:03] GITchristoph commented on #260
Thank you - I will but need a bit of time to get to it.

[2020-11-20 17:22] MyGiHu opened #262 "Back to Projects is not showing up"
Back to Projects is not showing up. Looks like a typo in this line.

https://github.com/victoriadrake/hugo-theme-introduction/blob/32d46f19f436c02c83d1c81439fcad2901f0f038/layouts/partials/nav.html#L61

[2020-11-20 23:27] RashikShahjahan commented on #260
@victoriadrake , I made the changes in the sass file. It still doesn't work. Here's my repo:https://github.com/RashikShahjahan/Website_Personal

[2020-11-21 11:41] victoriadrake commented on #262
Hi there! Would you be more specific about where you're not seeing it work? The link in the line you reference seems to show up fine on the demo page: https://hugo-introduction.netlify.app/projects/photography/

[2020-11-21 11:51] victoriadrake commented on #260
@RashikShahjahan when I visit your page, I see this in the console:

![Screenshot from 2020-11-21 06-48-10](https://user-images.githubusercontent.com/24644237/99876618-e5452e00-2bc5-11eb-8ffc-04b590fb7297.png)

It seems "example.com" is still being used. Did you remember to rebuild your site?

[2020-11-21 12:53] ParagRaut opened #263 "Disqus widget is not following content width"
**Describe the bug**
Disqus widget is taking whole width of page when seen in desktop browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://paragraut.me/projects/sideprojects/
2. Width of disqus widget looks out of proportion with respect to content

**Expected behavior**
Disqus widget should follow content width and justification

**Screenshots**
<img width="1599" alt="Scree

[2020-11-21 12:56] ParagRaut commented on #262
I think he/she means following but in projects context

<img width="729" alt="Screenshot 2020-11-21 at 13 54 19" src="https://user-images.githubusercontent.com/16030809/99877820-273f9580-2c01-11eb-8989-5cd5d02dbbcc.png">

when user goes to a particular blog, theme shows option to go back to list of blogs "Back to blog", it doesn't happen in case of projects

@MyGiHu let me know if I'm correct

[2020-11-21 16:28] MyGiHu commented on #262
@ParagRaut exactly

If you navigate to the site of a project (for exsample /projects/design/) the navigation bar should look like this:

![nav issue](https://user-images.githubusercontent.com/74786828/99882148-a394a180-2c1e-11eb-950b-0dc03460168c.PNG)

[2020-11-22 23:16] RashikShahjahan commented on #260
That's strange. I thought I got rid of this error after I changed the url in config.toml. @victoriadrake

[2020-11-23 21:42] MyGiHu commented on #263
There is no disqus class in the cascading style sheet and for me it looks like the width is defined by the css class container.

You can add container (for width) and top-pad (for some vertical space) to the disqus div to fix this issue.

[2020-11-24 11:38] victoriadrake commented on #262
That did it! Thank you for the PR @MyGiHu 😃

[2020-11-24 11:38] #262 closed

[2020-11-24 12:19] victoriadrake commented on #260
How are you rebuilding your site? If with Netlify, is your Netlify configuration set up to redeploy when a change is pushed?

[2020-11-24 13:55] ParagRaut commented on #263
@MyGiHu Do you mean in theme itself or create a custom css ? if theme can you point me to correct file ?

[2020-11-24 18:44] RashikShahjahan commented on #260
@victoriadrake it's with Netlify. Yes the site redeploys whenever I push a change.

[2020-11-24 19:00] RashikShahjahan commented on #260
@victoriadrake , do I need to change the url anywhere other than config.toml?

[2020-11-24 20:17] MyGiHu commented on #263
@ParagRaut In the theme itself. Here is the file and line: https://github.com/victoriadrake/hugo-theme-introduction/blob/696388d6bb228a7a3f6559e2e911469f8ac26a8f/layouts/partials/comments.html#L2
A custom css will fix it too, but adding existing css classes is easier.

[2020-11-24 20:19] ParagRaut commented on #263
I'll try, and notify you if it worked. but don't you think it should be in default theme?

[2020-11-24 21:14] MyGiHu commented on #263
I can only speculate why it is missing.

[2020-11-24 21:16] ParagRaut commented on #263
@MyGiHu check https://github.com/victoriadrake/hugo-theme-introduction/pull/265 this worked for me on local

[2020-11-24 21:28] MyGiHu commented on #263
Great!

[2020-11-27 13:46] #263 closed

[2020-11-27 13:47] victoriadrake commented on #260
It would depend on your settings, but I don’t think so. Can you find an option to “Clear cache and deploy”? It should be in a drop-down menu on the “Deploy site” button. That might help.

[2020-11-27 15:46] RashikShahjahan commented on #260
@victoriadrake , I tried that. Didn't help. Could the build command be an issue?

[2020-12-03 16:42] JoGaertner commented on #212
Hey,
I still can't scroll, when I have vertical Images in the Projects. Any Ideas?
Thanks

[2020-12-04 23:28] mijorus commented on #212
Set the overscroll property to `auto` or `scroll`

[2020-12-08 11:50] victoriadrake commented on #249
@thegreatluke Are you still interested in tackling this one?

[2020-12-16 00:45] #253 closed

[2020-12-19 16:54] deyangeor opened #269 "configuring themeStyle to dark does not work"
Hello,

I like the theme very much, so thank you for sharing. :) Below is the description of my issue, but if you need any further details, please tell.

**Describe the bug**
Configuring dark theme does not seem to work

**To Reproduce**
In config.toml set

[params]
    themeStyle                   = "dark"

**Expected behavior**
The generated website to be ... dark

**Screenshots**
N/A

**Desktop

[2020-12-20 21:49] MyGiHu commented on #269
Hi,

I couldn't reproduce the issue with the exsample site. Are the changes in the config.toml saved and is Hugo rebuilding the website?

[2020-12-22 11:40] udorda opened #270 "option to have no blog section?"
Hi,

I'm just getting started with hugo and I'm loving this theme.

One (possible very basic question): I don't want o have the blog section - Is there a way to remove it (making a custom menue does not remove the corresponding section.

Thanks a lot in advance,
Ulrich

[2020-12-22 20:39] udorda commented on #270
Playing around a bit more, I discovered that commenting the following line in themes/introduction/layouts/index.html
   {{ partial "home/blog.html" . }}
does the job.

[2020-12-22 20:39] #270 closed

[2020-12-25 06:54] GeoffreySaxena commented on #269
I'm facing a similar issue, I've set the theme to dark mode, Hugo rebuilding the website too.
All the other changes take place except for this.

[2020-12-27 14:08] MyGiHu commented on #269
I observed this issue with the not extended version of Hugo. Only the extended version can process sass (style) files.
You can check your version of Hugo by running "hugo version". The output string should contain the word extended.
Installing the extended version of Hugo should fix this issue.

[2020-12-29 17:23] hellojinwoo commented on #260
Guess this issue has not been fixed :(

[2020-12-30 23:03] keen99 opened #273 "clock has stopped"
updated to latest today and I noticed the clock stopped working.

The code in this area seems to have been replaced as part of #266 (and stubbing in the old stuff doesnt work^H^Hcompile at a quick test)

My config seems intact, and at quick glance the required config didnt change....

ah there is an error on the js console:

[code]
(line numbers may vary, I have local formatting changes)

my time

[2020-12-31 03:13] keen99 commented on #273
so it looks like the timeFormat changed:

https://github.com/victoriadrake/hugo-theme-introduction/pull/266/commits/7f720b4e1dadc7757e93c581c460c31f59d3df77#diff-a22ce72f559279e2b268c61544e9e67d3bec733d98c878c79ea381623539069cR26

`timeFormat               = "en-US"                 # Language specific format to use`

a bit of docu around this would be nice.   especially since this is a breaking ch

[2020-12-31 12:12] victoriadrake commented on #260
I see your `netlify.toml` uses `$DEPLOY_PRIME_URL`. Is that the same URL as shown in your `config.toml` as `baseURL`?

https://github.com/victoriadrake/hugo-theme-introduction/commit/7167496d884edcc0105e8dc480669c3444974760 might fix this for the demo site. We'll be able to see after Hugo's themes site's next deploy.

[2020-12-31 13:01] victoriadrake commented on #273
Thanks for bringing that to my attention David! I've updated the docs and version.

[2020-12-31 13:06] #273 closed

[2020-12-31 13:09] victoriadrake commented on #269
I think @MyGiHu is correct. I'm closing this for now, @deyangeor feel free to reopen if your issue is not resolved.

[2020-12-31 13:09] #269 closed

[2021-01-01 02:21] linhtto opened #275 "ThemeStyle `auto` not detecting dark mode?"
**Describe the bug**
With the most recent update https://github.com/victoriadrake/hugo-theme-introduction/commit/2932037152a30e5542e947122ece0a26f148091b, `themeStyle` set to `auto` doesn't detect dark mode on my computer anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the included `exampleSite`
2. Make sure computer dark mode is on (MacOS 10.15.7)
3. Theme is light, not dark

*

[2021-01-01 12:35] victoriadrake commented on #275
Thank you Linh! Pushed a fix.

[2021-01-01 12:39] linhtto commented on #275
Thanks for the quick fix! I don't quite get it either, why the "drier" code doesn't work—if you ever find out, please let me know!

One thing though, the Github Actions tests didn't seem to pass?

[2021-01-01 12:54] victoriadrake commented on #275
I noticed, even though it builds fine locally... 🤷 sorting that out now

[2021-01-01 12:56] victoriadrake commented on #275
Seems to be coming from Bulma. I wonder if it's something that would be fixed by the update you started in #274?

https://github.com/victoriadrake/hugo-theme-introduction/runs/1633601928?check_suite_focus=true#step:6:7

[2021-01-01 13:02] linhtto commented on #275
I doubt it. The bulma upgrade would just be from 0.9.0 to 0.9.1 and the changelog doesn't indicate anything likely to help.

[2021-01-02 19:23] dieterzakel opened #276 "local public folder does not render properly"
**Describe the bug**
the local public folder generated by hugo -D does not render properly
I guess something with absolute and relative URLs.

**To Reproduce**
Steps to reproduce the behavior:
1. generete site with host -D
2. open index HTML with browser - does not render
3. go to localhost:1313 - renders properly
4. See screenshots

**Expected behavior**
public folder should render properly

**Sc

[2021-01-03 03:48] kcisneros opened #277 "Error with displaying index.md"
**Describe the bug**
Content is not being displayed on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to localhost:1313

**Expected behavior**
A homepage that says "Hi, name". I entered my content in the index.md file.

**Screenshots**
<img width="1084" alt="Screen Shot 2021-01-02 at 10 44 13 PM" src="https://user-images.githubusercontent.com/16183934/103471263-1d569980-4d4c-11

[2021-01-03 18:27] #277 closed

[2021-01-05 03:19] keen99 opened #280 "how to disable smooth scrolling to anchor links? aka make anchor links work twice++"
Problem:  Anchor links only work on the 1st visit.   Reloading the page always takes you to the top.

Easy example, with the local server running, click an anchor link.   now edit something and watch it return to the top, even though the url is still /#anchor

This is symptomatic of the behavior of javascript's `scrollTo`, and probably others - but I'm not an expert in this area.

I'd like to be a

[2021-01-06 08:05] joelgrimberg commented on #260
same issue here. it works on my localhost but not when I push it and run it on Amplify

[2021-01-07 00:40] MatthewMong commented on #276
Encountered same issue as well, my production builds are missing css too.

[2021-01-07 01:48] MyGiHu commented on #276
Hugo and this theme are not optimized for local file access.

[2021-01-08 01:43] #249 closed

[2021-01-08 17:07] MyGiHu opened #283 "Template code in css file"
This line is not treated as template code:

https://github.com/victoriadrake/hugo-theme-introduction/blob/45db8e96dbeb0a8697bb1173b74f4be04dbefe99/assets/sass/_fonts.sass#L1

And generates a "broken" main css file. The template code is falsely in the generated css file:

`src: local("Nunito Sans Regular"),local("NunitoSans-Regular"),url({{ with resources.Get "fonts/NunitoSans/NunitoSans-Regular.tt

[2021-01-09 07:58] joelgrimberg commented on #260
workaround: copy the fotns folder from your example folder to the root of your project 🎉

[2021-01-09 17:32] RashikShahjahan commented on #260
@joelgrimberg , I don't see a fonts folder under exampleSite.

[2021-01-10 07:11] joelgrimberg commented on #260
I copied the complete /themes/introduction/static/fonts folder to the root of my project ( so that in my root I will find the '/fonts/..' - folder

[2021-01-15 17:02] deyangeor commented on #269
Hello,

I am sorry, but I was away for quite some time.

I am writing this to confirm that having the extended version "renders" the dark mode ... for future readers, you know.

Thanks a lot.
D

[2021-01-17 14:59] victoriadrake commented on #280
We used to use `scrollTo`, but no longer do. You can update or override your Sass files to change the behavior here:

https://github.com/victoriadrake/hugo-theme-introduction/blob/2932037152a30e5542e947122ece0a26f148091b/assets/sass/_base.sass#L4-L5

I can't replicate your described behavior on the rendered demo site (https://hugo-introduction.netlify.com/). Does it only occur with live reload whe

[2021-01-17 15:02] #276 closed

[2021-01-17 15:09] keen99 commented on #280
interesting, I can't repro on the demo either.

it's consistent across all of my stacks - local server, and netlify -
here's my prod environment where it's reproed:
https://www.brasstack.net/#about

so far I haven't been able to effect anything after changing my _base.sass
scroll-behavior, but I'll keep digging when I get a chance, thanks for the
pointer!

On Sun, Jan 17, 2021 at 9:59 AM Victoria

[2021-02-10 16:02] joelgrimberg commented on #260
it's still an issue; icons are still not showing:
themes.gohugo.io/theme/hugo-theme-introduction

[2021-02-16 01:28] victoriadrake commented on #260
Bad bot.

[2021-02-16 16:08] MyGiHu commented on #260
It should be fixed with pull request #285. The demo page is still broken because it is not build with the extended version of hugo and PostCSS. Source: [Hugo themes readme](https://github.com/gohugoio/hugoThemes#resources). Pull request #286 contains updated resources and the next update is proposed on this [Friday](https://github.com/gohugoio/hugoThemes#theme-updates).

[2021-02-17 20:21] MyGiHu commented on #283
Fixed with pull request #285.

[2021-02-17 20:21] #283 closed

[2021-02-21 05:08] mjdescy opened #287 "Update Font Awesome"
I very much want to include [the "microblog" icon from Font Awesome 5.14.0](https://fontawesome.com/icons/microblog?style=brands) in my site's social icons. When I try to use it, using the code below in `config.toml`, nothing displays:

[code]

Unfortunately, I don't know how to resolve this on my own. Does the Font Awesome code in the theme need to be updated? (I don't know how to do that.)

[2021-02-22 00:41] #280 closed

[2021-02-22 12:11] MyGiHu commented on #287
You are right. Font Awesome is not up to date and is missing the microblog icon from newer releases.

[2021-02-28 01:57] jakemanderson commented on #253
Try modifying the overflow property in the assets folder via

`sed -i -- 's/overflow: hidden/overflow: scroll/g' **/*(D.)`

[2021-03-07 12:30] victoriadrake commented on #287
Font Awesome should be updated to include the "microblog' icon and other icons. Thank you @mjdescy for bringing this up!

[2021-03-20 10:57] victoriadrake commented on #260
This is fixed now!

[2021-03-20 10:57] #260 closed

[2021-03-23 16:06] ttheng3810 opened #291 "Manual addition of icon packs other than Font Awesome, or extended support of other icon packs"
Hello, first of all, although I make this issue a feature request, this can actually be a problem report and a feature request at the same time.

I am happy with using this theme and am mostly satisfied with the Font Awesome icon pack included, except that the Font Awesome icon pack unfortunately does not provide the logo of a social network known as Plurk, which I would like to use as the icon re

[2021-03-24 07:54] ttheng3810 opened #292 "How to change the theme font (non-Google), for only Chinese characters if possible?"
Hello, I would like to ask how to change the font used for this Hugo theme, and is it possible to only change the font so that the effect is reflected on ***Chinese characters*** only while the font of the other characters (i.e. the alphabets, numbers, symbols, etc.) remain unchanged?

I've decided to create a Chinese language version of my Hugo website using this theme, and instead of using the d

[2021-03-24 13:57] ttheng3810 opened #293 "Some special characters cannot show up on the site title"
Hello again, I have come across with another problem when building my site using this theme which is about the site title.

I edited the site title by following the instructions written on the ```config.toml``` in the ```exampleSite``` folder.

I went through the usual steps which include copying the contents of the ```config.toml``` of the ```exampleSite``` folder into the ```config.toml``` in th

[2021-03-25 06:19] ttheng3810 commented on #287
Hello, I would also like to point out that other than the "microblog" icon, the ["blog" icon from Font Awesome 5.6.0](https://fontawesome.com/icons/blog?style=solid) does not display on the site as well, after similar procedures as mentioned by @mjdescy are carried out.

The code used in the ```config.toml``` file:
[code]

[2021-03-25 07:55] ttheng3810 commented on #293
Also, this problem only appears on the **homepage**; when the "sub-pages" are opened (e.g. the list page showing all of my blog posts), the special characters are shown normally instead, like this:
```Blog - Tze-Heng Tan | Welcome```

[2021-04-02 15:22] MyGiHu commented on #293
The title ist generated by the [metadata.html](https://github.com/victoriadrake/hugo-theme-introduction/blob/34761ba2b22dd99c2b1bcf564bbf2777b7376a72/layouts/partials/head/metadata.html#L9) file.

As you can see the title ist put together with a ["Page Title"](https://gohugo.io/variables/page/) (title parameter from the markdown file) and a ["Site Title"](https://gohugo.io/variables/site/) (title

[2021-04-02 20:09] MyGiHu commented on #292
Fonts are managed here: [_fonts.sass](https://github.com/victoriadrake/hugo-theme-introduction/blob/34761ba2b22dd99c2b1bcf564bbf2777b7376a72/assets/sass/_fonts.sass)

With `unicode-range:` you can determine which character(s) uses your desired font.

[2021-04-02 21:03] MyGiHu commented on #291
If we take a look in [social.html](https://github.com/victoriadrake/hugo-theme-introduction/blob/34761ba2b22dd99c2b1bcf564bbf2777b7376a72/layouts/partials/home/social.html) we see all icons are starting with the prefix "fa-". Maybe your custom CSS file is missing this prefix.

Without changing the theme your custom CSS file could look like this:

[code]
or something with `background-image: url(pat

[2021-04-02 21:07] chris3ware opened #294 "Fenced code block colour."
**Is your feature request related to a problem? Please describe.**
Fenced code blocks are displayed differently to code. Code appears to use $primary for text and $code-background for the background defined in _dark-variables.sass. However fenced code blocks are displayed with different colours.

**Describe the solution you'd like**
I'd like to be able to define a colour for fenced code blocks in

[2021-04-02 23:47] MyGiHu commented on #294
Code is styled by the theme and fenced code blocks are styled by Hugo.

You can change the code theme under the markup options in the config.toml `style =  "name of style"`.

Or:

You can [create your own code theme](https://discourse.gohugo.io/t/unable-to-customize-the-syntax-highlight-colors/22140/2).
Updated config lines: ` codeFences = true noClasses = false`

Or:

Set `codeFences = false` in

[2021-04-03 04:19] hitzhangjie opened #295 "Please support paginator for blogs"
**Is your feature request related to a problem? Please describe.**

I have written many blogs (more than 30+), and I will write more in the near future.
I see the theme `introduction` haven't supported pagination so far, so the list of blogs maybe too long for readers.
So I think to support pagination may be a good idea.

**Describe the solution you'd like**

I want to display the list of blogs by

[2021-04-03 06:33] chris3ware commented on #294
Perfect, thank you for the clear explanation. I copied the [markup] section from exampleSite/config.toml to mySite/config.toml, and have chosen the **style** as suggested. This is working as expected.

<img width="323" alt="Screenshot 2021-04-03 at 07 32 10" src="https://user-images.githubusercontent.com/36608309/113470603-c5185c00-944e-11eb-839c-5238ea7e27ed.png">

[2021-04-03 06:33] #294 closed

[2021-04-05 16:49] arturjzapater commented on #287
Hey, how's the progress on this? If no one is working on it, I'd be happy to do it (it might have to wait until the weekend, though)

[2021-04-07 03:50] ttheng3810 commented on #292
Hello, I have carried out the following steps to try changing the font used for Chinese characters to the Open Huninn font.

1. I have git-cloned the files from the [Open Huninn](https://github.com/justfont/open-huninn-font) repository into ```themes/introduction/static/fonts/open-huninn-font``` (where ```open-huninn-font``` is the folder containing the files for the new font), which is in the sam

[2021-04-07 12:48] MyGiHu commented on #292
Hello,
the path to Open Huninn in your sass file is incorrect. Remove "/static" in the path.
Please note the [Getting started section of the theme](https://github.com/victoriadrake/hugo-theme-introduction#getting-started).
Also the unicode range is not always matching with the [font glyphs chart](https://github.com/justfont/open-huninn-font/blob/0790a75279088e6792fe6616242092bcf8e1b99d/glyphs-char

[2021-04-08 09:30] #293 closed

[2021-04-08 09:34] victoriadrake commented on #287
Please feel free, and thank you!

[2021-04-08 16:19] arturjzapater commented on #287
Great!

[2021-04-17 18:50] #287 closed

[2021-04-21 17:49] arturjzapater opened #298 "Fix Spanish Texts"
I have noticed that there are a few spelling issues in the Spanish version:

- "Oops!" is spelled "¡Ups!" and is an anglicism, something like "¡Vaya!" would be more natural.
- Some words are missing tildes ("avisame" instead of "avísame", "estas" instead of "estás").
- Title capitalisation for all projects is done using Spanish standard (capitalise only first word), but the others follow English s

[2021-04-28 21:00] MisanthropicDeity opened #299 "Add a toggle button for Dark/Light theme."
**Feature Description:**
A toggle button for light/dark theme so that users can switch between light and dark theme at any time.

**Solution Approach:**
A float.py button can be added in layout/partials which will have a toggle button to switch from light and dark theme.
And in javascript, we can write a function to toggle the dark mode on and off.

Thank you for such an amazing theme.

[2021-04-29 09:19] victoriadrake commented on #299
Sounds great! Thank you!

[2021-04-29 09:22] MisanthropicDeity commented on #299
Thank you, ma'am.

On Thu, Apr 29, 2021 at 2:49 PM Victoria Drake ***@***.***>
wrote:

[2021-05-03 11:05] #298 closed

[2021-05-06 22:36] joshmsamuels opened #300 "Cannot create blog posts for 2021"
**Describe the bug**
Blog posts with a year of 2021 are not visible on `/blog`

**To Reproduce**
Steps to reproduce the behavior:
1. Open any blog post in `themes/introduction/exampleSite/content/en/blog` (I used `hipster-ipsum.md`)
2. Change the date of the blog post to be created in 2021
3. Re-generate the website
4. navigate to `/blog`
5. See the post that was created in 2021 in absent
6. Chang

[2021-05-08 13:08] joshmsamuels commented on #300
Thank you! I didnt realize Hugo would be that smart.

[2021-05-08 13:08] #300 closed

[2021-05-14 00:09] #292 closed

[2021-05-15 00:08] #295 closed

[2021-05-15 00:09] #291 closed

[2021-05-28 15:24] SOERGI commented on #227
Not sure if people still run into this, but I did and the solution was to update node to a current version. In my case I had a version 8 installed and updated to a 14. Also, I installed the two npm packages globally.
As to the why: my best guess is that the try-catch construct without the error parameter was not supported pre-node 10, see [here](https://developer.mozilla.org/en-US/docs/Web/JavaScr

[2021-06-04 00:27] #299 closed

[2021-07-02 01:36] gthoma17 opened #302 "Large project images break the project modal on small screens."
**Is your feature request related to a problem? Please describe.**
When i open a project modal on my 13' Macbook screen, if the image is large enough it pushes the content (project text and carousel buttons) off the screen with no ability to scroll to it.

**Describe the solution you'd like**
I'd like to be able to scroll the entire project modal, not just the text content.

**Describe alternative

[2021-07-02 11:28] OLGJ opened #303 "Modal won't switch to active on live website."
**Describe the bug**
Modal won't switch to active on live website.

**To Reproduce**
1. Go to 'https://www.olgj.org/'
2. Scroll down to 'Projects'
2. Click on either one of the projects
4. See error

**Expected behavior**
Modal switches to active when a project is pressed (as it does on live preview with ```hugo serve```).

**Desktop (please complete the following information):**
 - OS: Windows 10

[2021-07-02 17:00] gthoma17 commented on #303
This seems to be a problem with the configuration of your web server -- it isn't sending the CSS stylesheet that is needed to make the projects section work properly.

I see this error in the Chrome Developer Console when I load up your website:

[code]

Try changing your server's CORS policy, that should fix it :+1:

[2021-07-04 17:31] #303 closed

[2021-07-19 16:24] ttheng3810 commented on #292
Hello, after searching around the code files for possible solutions, I have finally figured the key step to change the font successfully!

It turns out that I had missed the particular key step and that is why the font change was not reflected on the webpage.

After changing the code of [_fonts.sass](https://github.com/victoriadrake/hugo-theme-introduction/blob/34761ba2b22dd99c2b1bcf564bbf2777b737

[2021-07-20 14:51] callagg1 opened #305 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-07-20 15:27] ttheng3810 opened #306 "Date format localisation issues"
Hello, I am planning to apply a Malay language month name (a language not included in the default theme repo) for the publishing date of the blog posts shown on my website.

How should I apply the steps provided on [this official Hugo documentation](https://gohugo.io/content-management/multilingual/#customize-dates), or can I?

I am aware that the lines of code in the single page template ([../blo

[2021-07-21 14:03] MyGiHu commented on #306
You have already all the information you need. A hard coded date format is the only disadvantage of this solution. Maybe a partial template with many replace commands brings flexibility.

My /blog/single.html:
[code]
Path of mois.yaml:
`<theme root>/data/mois.yaml`

Works for me.

[2021-07-23 04:24] ttheng3810 commented on #306
Hmm, if I make use of your version of modified /blog/single.html code, how should I configure the ```dateFormat``` in config.toml so that the month name can show up on the webpage?

[2021-07-23 14:30] MyGiHu commented on #306
`dateFormat` is not evaluated by the modification. So no configuration of `dateFormat` is required.

Please note, this modification only affects the "full post site" and no other site like startpage or "list of all posts".

[2021-07-25 17:28] ttheng3810 commented on #306
I have discovered the error in my code, turns out that I have carelessly typed the filename of the data file wrong 😅. Now the month name can show up on my webpage after fixing that.

Thank you for your help!

[2021-07-25 17:28] #306 closed

[2021-08-03 07:06] Pirshtuk opened #308 "Failed to process shortcode"
Failed to build the site from template:

Start building sites …
hugo v0.86.0-41C6C52E+extended windows/amd64 BuildDate=2021-07-21T09:53:14Z VendorInfo=gohugoio

Error: Error building site: "C:\Users\.....\Site-hugo-theme-introduction\content\en\blog\configuration.md:19:1": failed to render shortcode "md": failed to process shortcode: "C:\Users\......\Site-hugo-theme-introduction\layouts\shortcodes

[2021-08-03 23:16] victoriadrake commented on #308
Hi there. Hugo's trying to render the content in `\Site-hugo-theme-introduction\content\en\blog\configuration.md` and looking for [this file](https://github.com/victoriadrake/hugo-theme-introduction/blob/34761ba2b22dd99c2b1bcf564bbf2777b7376a72/exampleSite/layouts/shortcodes/readfile.html) which is housed in the `exampleSite` directory.

If you've deleted or moved `readfile.html` but you're still

[2021-08-08 00:08] #302 closed

[2021-09-09 00:08] #308 closed

[2021-12-13 23:33] christian-heusel opened #310 "Code snippets not enough contrast"
**Describe the bug**
I just now realized that one can barely read code snippets with this theme 😢
Since I'll probably need them for future posts it would be awesome if this improves ❤️

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://christian.heusel.eu/blog/minio/](https://christian.heusel.eu/blog/minio/)
2. Try to read the codesnippets

**Expected behavior**
One is easily abl

[2021-12-19 01:22] victoriadrake commented on #310
Hello Christian,

The syntax highlight colors can be controlled by your settings in your configuration file. In this case, the color scheme chosen does not work well with the light theme. I will try to find a better default.

In the meantime, you may change the color scheme setting to your liking. See the [configuration post](https://hugo-introduction.netlify.app/blog/configuration/) for more deta

[2021-12-19 19:53] christian-heusel commented on #310
Hey @victoriadrake, awesome, I wasnt aware that I can configure this and also the new versions default fixes the problem 😊
Thanks a lot for all your work 😄

[2021-12-19 19:53] #310 closed

[2021-12-22 12:55] victoriadrake commented on #310
You're welcome!

[2021-12-23 22:10] chris-short opened #311 "Add Privacy Policy Page"
**Is your feature request related to a problem? Please describe.**
I would like to add a Privacy Policy page to the site but I'm not sure what the right/best way is.

**Describe the solution you'd like**
This should be a default option on sites incorporating Google Analytics especially. But, I really want to solve the "where should terms, policies, etc. go?"

**Describe alternatives you've conside

[2021-12-28 22:21] C4E5G3 opened #312 "Basic Problems"
I am following the steps. I copy the config.toml file from the Example Site into the main site. I then create an index.md file in my main site.

Marcus@mx:~/WEBSITE/A/content/home
$ cp ~/WEBSITE/A/themes/introduction/exampleSite/content/en/home/index.md ~/WEBSITE/A/content/home

But the original Homepage does not render:- see below.

![hugo1313](https://user-images.githubusercontent.com/95769626/1

[2021-12-29 22:55] RobinMaas95 opened #313 "Question: Display Markdown Images (badges) side by side"
If I use the following code in a file inside the `content/en/home` folder, all badges are displayed one below the other.
When I use the same code in other locations (e.g., my personal GitHub page or here), the badges are rendered side-by-side.

Is there a way to force `Introduction` to render them side-by-side, too?

Code:
[code]

Expected behavior:
#### Languages
![Python](https://img.shields.io/

[2021-12-31 17:13] C4E5G3 commented on #312
I haven't done this stuff for about 10  years, hence the elementary questions. My config says:

So I am thinking my directory has to be main/content/en/home

But that doesn't work either....

[2022-01-01 12:51] C4E5G3 commented on #312
Okay, I solved this myself.....I use the verb 'solve' generously.

I just copied exampleSite/* to my main site, and it was Happy Days.

[2022-01-01 14:58] victoriadrake commented on #313
Hello! This happens because the Markdown CSS renders each badge image by itself on a new line with padding. It's controlled by these Sass lines:

https://github.com/RobinMaas95/hugo-theme-introduction/blob/2dd728c9fd921da23a3fce79acce24d50d0e5e7f/assets/sass/_base.sass#L290-L293

You can change or remove this Sass code in your fork to have the badges render as they do on GitHub in READMEs. Hope th

[2022-01-01 14:58] #313 closed

[2022-01-01 15:02] victoriadrake commented on #312
Hello Marcus! Glad you got it figured out. For your future reference, Hugo is quite sensitive to the [file structure](https://gohugo.io/content-management/organization/). I don't know what it was before you worked off a copy of exampleSite, but that may have been the issue.

Have fun with your website!

[2022-01-01 15:02] #312 closed

[2022-01-01 20:12] C4E5G3 commented on #312
Hi Victoria,
Yes, I am just working it out. I am out of the loop. I stuck up a static
site about 5 years ago, on Dropbox, but the world looks different now.
I have to say, your Theme is stellar, Je le kiffe, as we say in France.
I am really looking forward to getting something "set in the cloud".

Bravo!!! You are an artist.

Best Regards
Marcus

On Sat, Jan 1, 2022 at 4:02 PM Victoria Drake ***@*

[2022-01-14 18:37] OnPointSM opened #314 "A Guide"
This theme is really excellent, and I think Victoria deserves kudos for making it. Coming from Wordpress, and not having dabbled in code for many years, I am struggling to adapt it though.

In one sense it would be good if someone wrote a basic guide to some of the adaption process, e.g. I can't understand the relation of the theme files to the main site, and even though I've copied the them into

[2022-01-23 16:54] OnPointSM commented on #314
If I try and call French as my language, (from config.toml):

DefaultContentLanguage           = "fr"                    # Default language for multilingual sites
.............
[languages]
        [languages.en]
            languageName     = "Français"
            languageCode     = "fr"

I get this in the CLI:

Error: site config value "fr" for defaultContentLanguage does not match any language

[2022-01-23 17:12] OnPointSM commented on #314
[languages]
[languages.fr]

modified, but still renders an error. Hmmm.

[2022-01-23 17:13] OnPointSM commented on #314
Apologies...sorted

[2022-02-02 10:01] winxthecat commented on #314
I just wanted to drop a note, expressing how much I love this theme.

I was looking for a German website to replace my old one with Hugo/Hermit (no longer updated) and this was so easy! Just change the main language in config, delete the other languages (although I might keep the English version and FINALLY have a bilingual website), upload and done.

What I did was: move the example content into

[2022-02-02 10:10] winxthecat commented on #311
I also would like to know how to do that the best way.

[2022-02-02 12:19] winxthecat commented on #311
I found a way:

Create a new section for the Home page - I named it Impressum (or imprint) and in that document use these HTML5 Options:

<details>
    <summary>

        ### Eine Überschrift

    </summary>
    <div>

        Test **mit Markdown**.

    </div>
</details>

So now visitors can access those pages directly on the front page, without having the hassle of the long legal blabla to be vi

[2022-02-02 12:23] winxthecat commented on #311
[imprintgit.md](https://github.com/victoriadrake/hugo-theme-introduction/files/7986320/imprintgit.md)

[2022-02-02 14:02] winxthecat opened #316 "Text Alignment on Home"
**Describe the bug**
Hi, on my website https://www.volkerbeck.info/ I was able to find a solution for my imprint / data protection page. However, the text alignment is middle/center. How can I change that? I used a md file from another hugo site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.volkerbeck.info/
2. Click on https://www.volkerbeck.info/#Impressum
3. see the te

[2022-02-02 14:53] winxthecat opened #317 "Hamburger Menue not working in Google Chrome"
**Describe the bug**
Hi, I installed the theme via git, uploaded the example content and started editing it. So far, so good. However, when I open the site on mobile or in a smaller browser (Chrome) menue, the hamburger menue does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.volkerbeck.info/)
2. Shrink your browser window OR use a mobile device
3. click on the

[2022-02-02 15:42] winxthecat commented on #316
I was able to find a solution:

Just use some HTML within the detail part:

`<div style="text-align: right"> your-text-here </div>`

My solution:

<details>
    <summary>
Hier findet man mein Impressum mit den notwendigen Angaben
    </summary>
<div style="text-align: justify"> **Angaben gemäß § 5 TMG**
blablabla
</div>
</details>

[2022-02-02 15:42] #316 closed

[2022-02-02 16:23] winxthecat opened #318 "Footer editable"
**Is your feature request related to a problem? Please describe.**
The great theme has the option to override the footer info. But I do not like to remove credits, especially for any open source stuff.

I would rather like to change it a bit. I want to leave the links and text as it is, just simply create something like this:
**&copy my name (actual year) | your footer text**

Any idea, how I can

[2022-02-02 19:50] winxthecat commented on #318
I did try to use the icons from FontAwesome, but I did not get them to work. No matter, what I tried, hugo always came back with:

The footer works (in Edge) without icons, but somehow, I feel like it misses something.

[2022-02-02 21:32] winxthecat commented on #275
I have the problem the other way round: I did setup the light mode and whilst MS Edge is following, Chrome / Safari are not.

[2022-02-02 21:35] winxthecat commented on #317
Ah, I use the latest hugo (of course extended) on a server (linux).

And, it is not only the hamburger, but also the dark mode. Some browser (firefox/chrome) do not follow my setting (light mode fixed). Whilst Edge on WInd10 does follow.

[2022-02-03 19:10] OnPointSM commented on #314
Yes, I had to create a French folder in content, and then just mimicked the en folder.
And i deleted the other languages in the config file and created a French one.
Just a matter of tinkering really.

[2022-02-04 15:14] winxthecat commented on #318
Hi, would that footer be OK for you @victoriadrake ?
© Volker Beck 2022 | Erstellt mit [hugo](https://gohugo.io/) und dem Theme [Introduction](https://github.com/victoriadrake/hugo-theme-introduction/).

roughly translated as Volker Beck | generated with Hugo and the theme introduction.

Or would you prefer to also have a link to your general website?

- I am still working on my German site -

[2022-02-04 15:24] winxthecat commented on #318
Hi, would that footer be OK for you @victoriadrake ?
© Volker Beck 2022 | Erstellt mit [hugo](https://gohugo.io/) und dem Theme [Introduction](https://github.com/victoriadrake/hugo-theme-introduction/).

roughly translated as Volker Beck | generated with Hugo and the theme introduction.

- I am still working on my German site, so there is no finished English version of the footer -

I will close t

[2022-02-04 15:24] #318 closed

[2022-02-08 00:12] #311 closed

[2022-02-09 10:54] winxthecat opened #319 "Weird Date Format"
**Describe the bug**
I created a blog post, using the date format from the Hipster-Ipsum. (date: 2017-11-13T11:58:39-05:00). it works well in English. However, as soon as I upload the identical file into the German version, the date ALWAYS gets changed into January. That change happens to the demo content as well as my newly created blog post.

My date:
date: 2021-11-15T12:00:00-05:00
EN: Nov 15,

[2022-02-10 11:13] victoriadrake commented on #318
Thank you for asking, Volker! It's very considerate of you. I appreciate you wanting to leave the credit in and your suggestion looks great!

[2022-02-10 14:05] victoriadrake commented on #319
Hello!

Is there a separate line controlling date format in your configuration under the German language settings?

https://github.com/victoriadrake/hugo-theme-introduction/blob/2dd728c9fd921da23a3fce79acce24d50d0e5e7f/exampleSite/config.toml#L139-L140

The format here may be incorrect.

[2022-02-10 15:17] OnPointSM opened #320 "Footer text"
Has anyone succesfully added a  customer service chatbox? i am trying to get crisp working, but no luck so far.

Edit: moved to #321

[2022-02-11 10:43] OnPointSM commented on #320
Not being funny , but I really don't understand the logic of the build, and whether Introduction is a typical hugo build or not. E.G. I adapted the footer text, primarily to create a new target link that opens independently, but my website reverts to the original footer text. However when I search my file structure for "contributeurs open-source" as appears on my live website, this text does not a

[2022-02-11 14:33] OnPointSM commented on #320
Ah! Thanks Victoria. I inadvertently erased that line when modifying the language settings. Thank you for your advice, it is very helpful. I simply reformulated the footer that is all, with a link that opens in a new browser. The link comes up blue actually.

Text   = '<p>Thanks to Victoria @<a href="https://github.com/victoriadrake/hugo-theme-introduction/" target="_blank" >Introduction Theme</a>

[2022-02-12 15:07] victoriadrake opened #321 "Adding code in the HTML head"
_Originally posted by @OnPointSM in https://github.com/victoriadrake/hugo-theme-introduction/issues/320_

[2022-02-12 15:09] victoriadrake commented on #320
Great! I’m glad it worked out 😁

[2022-02-12 15:09] #320 closed

[2022-02-14 01:10] OnPointSM commented on #321
Hi Victoria. Trouble is I don't understand where my HTML header is. Obviously in WP this is really easy. I am instructed to:

I've tried in

content/home/fr/index.md
&
docs/fr/index.html

but nothing happens

[2022-02-14 04:13] OnPointSM opened #323 "Language Sites"
I am wondering if it is me being dense, or whether co-opting the theme for a foreign language site is not really practicable.
I have made a monolingual site, in French, so the other languages are now inactive.

My main index.html in docs is of this type:

[code]

(docs/de) German and (docs/fr) Spanish are similar, just the language is adapted.

(docs/en) is like this

[code]

And the docs/fr is th

[2022-02-14 09:34] winxthecat commented on #319
Yeah, that was it. Thx a lot! I will close the issue.

[2022-02-14 09:34] #319 closed

[2022-02-14 11:21] winxthecat opened #324 "External Links for Social Icons / Footer?"
**Is your feature request related to a problem? Please describe.**
Hi, I always prefer it, when a link to an external site opens in a new tab or new browser window.

**Describe the solution you'd like**
I would love to have the Social icons on the home page (twitter, linkedin etc) and the footer links to be opened in a new window.

**Describe alternatives you've considered**
I tried all possible H

[2022-02-14 12:08] victoriadrake commented on #321
Gotcha. A static site generator like Hugo takes content files (what you'll find in your `content/` directory) and marries them up with layout files (what you'll find in this theme) when it generates the site. So you won't find files that control the HTML layout in `content/`.

The `docs/` folder is the generated site (or `public/` by default) so changes you make there will just get overwritten whe

[2022-02-14 12:26] victoriadrake commented on #324
The `config.toml` file thinks the first quote is the end of the value and expects a newline to follow it. That's why you're seeing that error -- quotes in the values here need to be escaped in order to render.

You can have a look at https://github.com/victoriadrake/hugo-theme-introduction/issues/321#issuecomment-1039010081 for my explanation of how to alter or override the theme's HTML files. You

[2022-02-14 12:26] #324 closed

[2022-02-14 13:29] OnPointSM commented on #321
Thank you for taking the trouble to give such a detailed reply Victoria. I do feel a bit guilty because I have not contributed financially to the theme. Unfortunately I am cash-strapped, but I do like to support great stuff, so I hope in the future I can make a contribution.

[2022-02-15 08:25] winxthecat opened #325 "Cookie Consent?"
**Is your feature request related to a problem? Please describe.**
In Germany/Europe, the data protection is an important thing for any website and there are specialized lawyers just searching for websites that are not following protocoll and serving notices to those websites.

As I understand, introduction uses google fonts, right? And I am also using fontawesome. Both is OK for me as I integrate

[2022-02-15 08:28] winxthecat commented on #325
There is this solution: https://hugocodex.org/add-ons/cookie-consent/

but it only revolves around google analytics and some chat function. Not the use of google fonts/font awesome.

[2022-02-15 18:06] OnPointSM commented on #323
Nice.....but your portfolio does not open

[2022-02-15 18:08] OnPointSM commented on #323
And obviously, like me, you are a work in progress

https://volkerbeck.info/en/

[2022-02-15 21:36] winxthecat commented on #323
Strange, I was able to open them in English (not yet finished) and German:

https://volkerbeck.info/en/#projects

https://volkerbeck.info/projects/ - works well

[2022-02-18 15:03] chris-short opened #326 "Editable /blog/ url"
**Is your feature request related to a problem? Please describe.**
It'd be great to be able to change the /blog/ section to something user specified. In one implementation of the them it's a newsletter archive so /archive/ would be preferred over /blog/

**Describe the solution you'd like**
If this could be changed in the config file or layouts somehow. I'm still spelunking into the theme to figur

[2022-02-20 10:05] #323 closed

[2022-02-20 12:34] OnPointSM commented on #321
Hi Victoria.
When I do what you suggest, it doesn't do anything. I created:   SITE/layouts/partials/head/css.html

And made the additions, but to no avail.

[code]

However adding the widget to:  SITE/themes/introduction/layouts

works, but then generates a deploy error in Netlify:

[code]

[2022-02-20 19:32] victoriadrake commented on #325
Looking at the **Installation** section of the link you added, it seems that you can modify the language in the YAML file to cover Google Fonts. Would that work?

[2022-02-20 19:52] victoriadrake commented on #321
The `css.html` partial is not a full HTML page in itself. It's meant to be included in the full, rendered HTML page when Hugo builds the site. The way you have it now, you've created a separate HTML document inside the `css.html` partial. Try removing the `!DOCTYPE`, `html`, and `head` tags. You only need to add the `script` tag in order for the rendered site to call your script.

The output from

[2022-02-20 20:45] OnPointSM opened #327 "Images 404"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-27 19:35] OnPointSM commented on #321
Thank You Victoria. I realized that it was worth delving into the tools that come with Netlify.

In Site Settings /  Build & Deploy is the facility to add snippets...but I am observing your help as well!

[code]

[2022-03-11 00:16] #275 closed

[2022-03-15 10:30] #314 closed

[2022-03-15 10:31] OnPointSM commented on #314
Thanks

[2022-03-15 11:11] OnPointSM commented on #327
Does anyone have any ideas for dealing with mixed content? Surely this problem is encountered by everyone else?